@media screen and (min-device-width: 1025px) {
    #ref_search_versions_holder #refdiv, #ref_search_versions_holder #searchdiv {
        min-width: 500px!important;
    }
    #togglenavbtn {
        min-width: 44.5px;
    }    
    #togglenavbtn::before {
        content: '\2261';
        font-size: 75px;
        font-weight: 400;
    }
    #refnav #app_settings > button {
        min-width: 45px;
    }
}
@media screen and (max-device-width: 1024px) {
    #togglenavbtn::before {
        content: '\2261';
        font-size: 50px;
        font-weight: 400;
    }
}
@media screen and (max-device-width: 912px) {
     :root {
        --width-sidebuttons: 37px;
    }
    #togglenavbtn {
        min-width: 60.5px;
    }
    #refnav #app_settings>button {
        font-size: 35.5px;
        overflow: hidden;
        width: 60px!important;
        min-width: 60px;
        padding: 8px 2px;
    }
}
@media screen and (max-device-width: 540px) {
     :root {
        --fontsize-main: 17px;
        --fontsize-scripture: 17px;
        --fontsize-ref: 12px;
        --fontsize-strongstooltip: 17px;
        --width-sidebuttons: 40px;
        --width-mainbutton: 45px;
    }
    #refnav #app_settings>button {
        font-size: 32.5px;
        overflow: hidden;
        width: 50px!important;
        min-width: 50px;
        padding: 6px 2px;
    }
    #togglenavbtn {
        min-width: 50.3px;
    }
    #ref_search_versions_holder #refdiv,
    #ref_search_versions_holder #searchdiv {
        display: flex;
        width: 100%;
    }
    #refdiv input,
    #searchdiv input {
        flex-grow: 1;
    }
    #forreference,
    #forwordsearch,
    #titlebar_show_searchsettings {
        display: flex;
        padding: 5px;
    }
    #pagemaster {
        height: calc(100vh - 57px);
    }
    #reference {
        width: 100%;
        font-size: 1.5em!important;
    }
}
@media screen and (max-device-width: 400px) {
     :root {
        --fontsize-title: 16px;
    }
    #togglenavbtn {
        min-width: 46.3px;
    }
    #refnav #app_settings>button {
        font-size: 28.5px;
        width: 46px!important;
        min-width: 46px!important;
    }
    #forreference,
    #forwordsearch,
    #titlebar_show_searchsettings {
        min-width: 40px;
        padding: 3px;
    }
}
@media screen and (max-device-width: 300px) {
    #togglenavbtn {
        min-width: 42.3px;
    }
     :root {
        --fontsize-title: 14px;
        --width-mainbutton: 35px;
        --width-sidebuttons: 27px;
    }
    #refnav #app_settings>button {
        font-size: 22.5px;
        width: 42px!important;
        min-width: 42px!important;
        padding: 4px 2px;
    }
    #forreference,
    #forwordsearch,
    #titlebar_show_searchsettings {
        min-width: 30px;
    }
    #reference {
        font-size: 1em!important;
    }
}