@media screen and (max-device-width: 912px) {
    #togglenavbtn {
        min-width: 60.5px;
    }
    #togglenavbtn::before {
        font-size: 50px;
    }
}

/* Make search input grow with text till max-width */
@media screen and (min-device-width: 912px) {
    #searchdiv {
        display: inline-grid;
        vertical-align: top;
        align-items: center;
        max-width: 300px;
        max-width: 100%;
    }
    #searchdiv #titlebar_show_searchsettings {
        grid-area: 1/1;
        height:100%;
    }
    #searchdiv #forwordsearch {
        grid-area: 1/3;
        height:100%;
    }
    #searchdiv input#wordsearch {
        font-size: var(--fontsize-refnsearch);
        width: 100%;
    }
    #searchdiv:before {
        white-space: nowrap;
        padding-left: 0.25em;
        height: 0;
        visibility: hidden;
    }
    #searchdiv input#wordsearch,
    #searchdiv:before {
        content: attr(data-value);
        min-width: 9em;
        grid-area: 1/2;
        height:100%;
        font: inherit;
        margin: 0;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none; 
        resize:both;
    }
}
@media screen and (max-device-width: 540px) {
     :root {
        --fontsize-main: 17px;
        --fontsize-scripture: 17px;
        --fontsize-ref: 12px;
        --fontsize-strongstooltip: 17px;
        --width-mainbutton: 45px;
    }
    #refnav #app_settings>button {
        /* font-size: 32.5px; */
        /* overflow: hidden; */
        /* width: 50px!important;
        min-width: 50px; */
        /* padding: 6px 2px; */
    }
    #togglenavbtn {
        min-width: 50.3px;
    }
    #ref_search_versions_holder #refdiv,
    #ref_search_versions_holder #searchdiv {
        display: flex;
        width: 100%;
    }
    #refdiv input,
    #searchdiv input {
        width: 100%;
        flex-grow: 1;
        /* font-size: 18px; */
    }
    #forreference,
    #forwordsearch,
    #titlebar_show_searchsettings {
        display: flex;
        padding: 5px;
    }
    #reference {
        width: 100%;
        font-size: 1.5em!important;
    }
    /* ADDED BY PASTOR SAM ELYAH */
    #searchPreviewWindowFixed, #strongsdefinitionwindow {
        min-width: calc(100vw - 56px)!important;
        max-width: calc(100vw - 56px)!important;
    }
    #searchPreviewWindowFixed *, #strongsdefinitionwindow * {
        max-width: calc(100vw - 56px)!important;
    }
    #refdiv button, #searchdiv button, #togglenavbtn {
        min-width: calc((var(--fontsize-refnsearch) - 6px) * 2.5);
        min-height: calc((var(--fontsize-refnsearch) - 6px) * 2);
        font-size: calc((var(--fontsize-refnsearch) - 6px) * 2);
    }
    #context_menu {
        right: 10px!important;
        left: 10px!important;
        width: calc(100% - 25px)!important;
        /* min-width: calc(100vw - 25px)!important; */
        max-width: calc(100vw - 25px)!important;
        height: auto!important;
    }
    .slideup {
        margin-top: -150px!important;
    }
    #titlebarsearchparameters > button {
        flex-basis: 50%;
    }
    #titlebarsearchparameters > #biblebooksgroup {
        order: -1;
        flex-basis: 100%;
    }
    #topbartogglebtn {
        /* right: 1em; */
        /* top: 90vh; */
        opacity: 0.8;
    }
}
@media screen and (max-device-width: 400px) {
     :root {
        --fontsize-title: 16px;
    }
    #togglenavbtn {
        min-width: 46.3px;
    }
    #refnav #app_settings>button {
        /* font-size: 28.5px; */
        /* min-width: 46px!important; */
        /* width:var(--width-sidebuttons)!important; */
        /* height:var(--width-sidebuttons); */
    }
    #forreference,
    #forwordsearch,
    #titlebar_show_searchsettings {
        min-width: 40px;
        padding: 3px;
    }
}
@media screen and (max-device-width: 300px) {
    #togglenavbtn {
        min-width: 42.3px;
    }
     :root {
        --fontsize-title: 14px;
        --width-mainbutton: 35px;
        --width-sidebuttons: 27px;
    }
    #refnav #app_settings>button {
        /* font-size: 22.5px; */
        /* width: 42px!important; */
        /* min-width: 42px!important; */
        /* padding: 4px 2px; */
    }
    #forreference,
    #forwordsearch,
    #titlebar_show_searchsettings {
        min-width: 30px;
    }
    #reference {
        font-size: 1em!important;
    }
}
@media screen and (max-device-height: 360px) {
    #context_menu {
        min-height: 70vh!important;
    }
}