@media screen and (max-device-width: 912px) {
    #togglenavbtn {
        min-width: 60.5px;
    }
    #togglenavbtn::before {
        font-size: 50px;
    }
}

/* Make search input grow with text till max-width */
@media screen and (min-device-width: 912px) {
    #searchdiv {
        display: inline-grid;
        vertical-align: top;
        align-items: center;
        max-width: 300px;
        max-width: 100%;
        /* margin-left: 0.25em; */
    }
    #searchdiv #titlebar_show_searchsettings {
        /* grid-area: 1/1; */
        grid-area: 1/3;
        height:100%;
    }
    #searchdiv #forwordsearch {
        /* grid-area: 1/3; */
        grid-area: 1/2;
        height:100%;
    }
    #searchdiv input#wordsearch {
        /* font-size: var(--fontsize-refnsearch); */
        width: 100%;
    }
    #searchdiv:before {
        white-space: nowrap;
        padding-left: 0.25em;
        height: 0;
        visibility: hidden;
    }
    #searchdiv input#wordsearch,
    #searchdiv:before {
        content: attr(data-value);
        min-width: 7em;
        max-width: 21em;
        grid-area: 1/1;
        height:100%;
        font: inherit;
        font-size: calc(var(--fontsize-refnsearch)*1.7);
        font-weight: bold;
        margin: 0;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        resize:both;
    }
    /* #pagemaster:has(#searchPreviewWindowFixed.slideintoview) .verse_note.detached_note {
        left:390px!important;
    } */
}
@media screen and (max-device-width: 540px) {
     :root {
        --fontsize-main: 17px;
        --fontsize-scripture: 17px;
        --fontsize-ref: 12px;
        --fontsize-strongstooltip: 17px;
        --width-mainbutton: 45px;
    }
    #togglenavbtn {
        min-width: 50.3px;
    }
    #ref_search_versions_holder #refdiv,
    #ref_search_versions_holder #searchdiv {
        display: flex;
        width: 100%;
    }
    #refdiv input, #searchdiv input {
        width: 100%;
        flex-grow: 1;
    }
    #refdiv input {padding-left: 10px;}
    #forreference,
    #forwordsearch,
    #titlebar_show_searchsettings {
        display: flex;
        padding: 5px;
    }
    #reference {
        width: 100%;
        font-size: 1.5em!important;
    }
    /* ADDED BY PASTOR SAM ELYAH */
    #searchPreviewWindowFixed, #strongsdefinitionwindow {
        min-width: calc(100vw - 56px)!important;
        max-width: calc(100vw - 56px)!important;
    }
    #searchPreviewWindowFixed *, #strongsdefinitionwindow * {
        max-width: calc(100vw - 56px)!important;
    }
    #refdiv button, #searchdiv button, #togglenavbtn {
        min-width: calc((var(--fontsize-refnsearch) - 6px) * 2.5);
        min-height: calc((var(--fontsize-refnsearch) - 6px) * 2);
        font-size: calc((var(--fontsize-refnsearch) - 6px) * 2);
    }
    /* #togglenavbtn, */#refdiv button,#forreference{display: none;}
    #show_crossref_comments button {
        font-size: calc(var(--fontsize-scripture) * 0.75);
    }
    #context_menu {
        right: 10px!important;
        left: 10px!important;
        width: calc(100% - 25px)!important;
        max-width: calc(100vw - 25px)!important;
        height: auto!important;
    }
    .slideup {
        margin-top: -150px!important;
    }
    #titlebarsearchparameters > button {
        flex-basis: 50%;
    }
    #titlebarsearchparameters > #biblebooksgroup {
        order: -1;
        flex-basis: 100%;
    }
    #topbartogglebtn {
        opacity: 0.8;
    }
    #searchprametersbtnholder > button {
        flex: 1 1 50%!important;
    }
    #otherButtonsInHead button {
        margin: 0;
        font-size: 0.85rem;
    }
    #ref_search_versions_holder #searchdiv, #wordsearch,#searchdiv #titlebar_show_searchsettings {
        display: none;
    }
    #opensearch {
        display: flex;
        width: 2em;
        height: 2em;
        padding: 5px;
    }
    /* #opensearch > img {
        width: 120%;
        height: 120%;
    } */
    #ref_search_versions_holder #refdiv {
        display: flex;
        width: auto;
        flex: 1 1 70%;
    }
    #otherButtonsInHead {
        margin-left: 0;
    }
    #bookmarks_holder {
        margin-left: auto;
    }
}
@media screen and (max-device-width: 400px) {
     :root {
        --fontsize-title: 16px;
    }
    #togglenavbtn {
        min-width: 46.3px;
    }
    #forreference,
    #forwordsearch,
    #titlebar_show_searchsettings {
        min-width: 40px;
        padding: 3px;
    }
}
@media screen and (max-device-width: 300px) {
    #togglenavbtn {
        min-width: 42.3px;
    }
     :root {
        --fontsize-title: 14px;
        --width-mainbutton: 35px;
        --width-sidebuttons: 27px;
    }
    #forreference,
    #forwordsearch,
    #titlebar_show_searchsettings {
        min-width: 30px;
    }
    #reference {
        font-size: 1em!important;
    }
}
@media screen and (max-device-height: 360px) {
    #context_menu {
        min-height: 70vh!important;
    }
}
div:has(table:only-child):not(div:has(.table-wrapper)){
    max-width: 100vw!important;
    overflow-x: auto;
}
/* body:has(:is(#context_menu,#pageEditNsaveBtns)) */ .cke.cke_reset_all.cke_panel.cke_panel.cke_menu_panel.cke_ltr {
    display: none!important;
}