/* DARKMODE SECTION *//* @media (prefers-color-scheme: dark) */
.darkmode {
    --verse-hover: transparent;
    --txtcolor:#e8e6e3;
    --ref-img:#121212;
    --buttons-border: 0.5px solid #736b5e;
    --whitesmoke:#121212;
    --vhlt-hover:#300000;
    --vmultiple-hover: rgb(0, 13, 13);
    --vhlt: rgb(0, 21, 21);
    --vhlt2: rgb(0, 39, 39);
    --selection: rgba(0, 255, 0, 0.6);
    --selection: rgb(2 20 7);
    --black: white;
    --grey: rgb(22, 29, 24);
    --searchedword-hlt: orange;
    --whitish_noteContextMenu: rgb(18, 18, 18);
    --versenote-contextmenu: rgb(18, 18, 18);
    --verse-higlight:rgb(18, 18, 18);
    --chpt:#594007;
    --chpt2:rgb(0, 0, 0);
    --vhlt3:rgb(8,4,0);
    --buttons-txtcolor:rgb(255, 255, 255);
    --darkmode-border:#736b5e;
    --darkmode-border-2:#62776d;
    --darkmode-bg1color: #0d171b;
    --darkmode-bg1color: #00080d;
    --buttons:#00080d;
    --img-cancel:url(images/cancel-svgrepo-com-DarkMode.svg);
    --img-chkbox:url(images/check-box-svgrepo-com-DarkMode.svg);
    --darkslategray:darkslategray;
    --darkslategray:rgb(107, 84, 0);
    --crossrefbackground:#8d6500;
    --crossrefbackground:rgb(8,4,0);
}
.darkmode button, .darkmode input {
    background-color: var(--buttons);
    color: var(--buttons-txtcolor)!important;
}
.darkmode #strongsdefinitionwindow summary>div:first-of-type, .darkmode summary>div:first-of-type {
    background: url(images/white-arrow-up-svgrepo-com.svg) center no-repeat;
    min-width: 1em;
    height: 2em;
    margin: 10px;
}
.darkmode #strongsdefinitionwindow details[open] > summary > div:first-of-type,
.darkmode details[open] > summary > div:first-of-type {
    background: url(images/white-arrow-down-svgrepo-com.svg) center no-repeat;
}
.darkmode #hidesearchparameters,
.darkmode #showonlysearchinput,
.darkmode .cmenu_closebtn,
.darkmode .closebtn,
.darkmode .note_closebtn,
.darkmode #bibleapp_available_notes {
    background-color: transparent!important;
}
.darkmode #searchparameters {
    background: none;
}
.darkmode button+button {
    border-left: none!important;
}
.darkmode #searchparameters button {
    border-top: none!important;
    border-bottom: none!important;
}
.darkmode #searchparameters * button:first-child {
    border-left: none!important;
}
.darkmode #searchparameters * button:last-child {
    border-right: none!important;
}
.darkmode button:hover .checkboxreplacement:has(input[type="checkbox"]):before {
    background-color: transparent;
    border: 1px solid var(--darkmode-border);
    border-radius: 5px;
}
.darkmode button .checkboxreplacement:has(input[type="checkbox"]:checked):before {
    background: var(--img-chkbox) center no-repeat;
    background-color: var(--darkmode-bg1color);
}
.darkmode span[ref]:not(.vmultiple):hover, .darkmode .strnum:hover {
    box-shadow: inset 0 -1.5em 0px 0px rgba(255, 223, 117, 0.663),
    0 5px 5px -2px var(--shadow-orange)!important;
}
.darkmode #fontchange, .darkmode .biblebooksgroup, .darkmode #fontsizes {
    background-color: #000000;
}
.darkmode #refnav .bible_nav *:hover, .darkmode #refnav .tmp_hlt {
    background-color: var(--ref-img);
    box-shadow: 0px 3px 0px 0px var(--vhlt-border), 0px -3px 0px 0px var(--vhlt-border);
}
.darkmode ::selection {
    background-color: purple;
}
.darkmode * {
    color:var(--txtcolor)!important;
    border-color: var(--darkmode-border)!important;
}
.darkmode #topbartogglebtn,
.darkmode #sidemenubtn_rightbottom {
    transition: all 0.5s ease 0s;
}
.darkmode #sidemenubtn_rightbottom {
    background-color: var(--darkmode-border);
}
.darkmode #topbartogglebtn span {
    background-color: var(--txtcolor);
}
.darkmode #topbartogglebtn:hover span {
    background-color: whitesmoke;
}
/* .darkmode .active_button, .darkmode #searchsettings.active_button {
    background-color: burlywood!important;
    color: #000!important;
}*/
.darkmode .active_button, .darkmode #searchsettings.active_button {
    background-color: var(--chpt) !important;
}
.darkmode #refnav_col2, .darkmode #togglenavbtn {
    border-right: var(--col2-border) solid var(--darkmode-border)!important;
}
.darkmode #context_menu .cmtitlebar::before {
    box-shadow: inset 0px -0.15em 0px 0px var(--darkslategray);
}
.darkmode #context_menu {
    border: 2px solid var(--darkslategray)!important;
    box-shadow: inset 0px 23px 0px 0px var(--darkslategray);
}
.darkmode .strngsdefinition h5,
.darkmode .strngsdefinition h6 {
    background-color: var(--darkslategray);
}
.darkmode #context_menu code button.cmenusrchbtn {
    border: rgb(166, 166, 166)!important;
    background-color: transparent;
}
.darkmode #btns_vtotheright button {
    background-color:black!important;
    border:whitesmoke!important;
}
.darkmode span.vmultiple.noted code #verse_notes_button {
    background: var(--brown);
}
.darkmode .v_dblclckd .verse {
    background-color: var(--vhlt-hover);
}
.darkmode #show_crossref_comments {
    border: 1px solid white!important;
}
.darkmode #show_crossref_comments button{
    border: 1px solid whitesmoke!important;
    color: white!important;
    background-color: darkcyan;
}
.darkmode .vmultiple[class*=marker_] #verse_marker_button {
    background-color: burlywood!important;
}
.darkmode .crossrefs {
    background: transparent;
}
.darkmode #cmenu_navnclose_btns button {
    color: black !important;
}
.darkmode #searchPreviewFixed .chptheading:not(.dhid)::before {
    background: url(images/white-arrow-up-svgrepo-com.svg) center no-repeat;
}
.darkmode #searchPreviewFixed .chptheading.dhid::before {
    background: url(images/white-arrow-down-svgrepo-com.svg) center no-repeat;
}
.darkmode .magnifying_glass {
    border: 0.1em solid white!important;
    box-shadow: inset -0.05em -0.09em 0em 0.2em #8ebdf9e0!important;
}
.darkmode .magnifying_glass:before {
    background: white;
}
.darkmode span[class^=v_]:hover,
.darkmode span.vmultiple:hover {
    background-color: transparent!important;
    background-color: var(--vhlt-hover)!important;
    background-color: #301d00!important;

}
.darkmode .vm_btns:hover .checkboxreplacement {
    background-color: #0b5913;
}
.darkmode .vm_btns:hover button,
.darkmode .vm_btns:hover button div {
    color: black!important;
    font-weight: bold;
    background-color: pink!important;
}

.darkmode .vm_btns:hover .vmbtnprevious:before,
.darkmode .vm_btns:hover .vmbtnnext:before {
    background: url(images/arrow-up-svgrepo-com.svg) center no-repeat!important;
}

.darkmode .vm_btns .vmbtnprevious:hover,
.darkmode .vm_btns .vmbtnnext:hover {
    background-color: rgb(210, 185, 126) !important;
}

.darkmode .vm_btns .vmbtnprevious:before,
.darkmode .vm_btns .vmbtnnext:before {
    background: url(images/white-arrow-up-svgrepo-com.svg) center no-repeat!important;
}

.darkmode #app_settings button:focus,
.darkmode #top_horizontal_bar_buttons button:focus,
.darkmode #bottomleft_btns button:focus,
.darkmode button#topbartogglebtn:focus,
.darkmode #bottomleft_btns button:focus,
.darkmode button#topbartogglebtn:focus {
    background-color:brown!important;
    border: 1px solid var(--darkmode-border)!important;
}
.darkmode .note_edit_button.active {color:black!important}
.darkmode .note_edit_button.active:hover {color:white!important}
.darkmode #otherButtonsInHead button {
    border: 1px solid  var(--darkmode-border)!important;
    margin-bottom: 0;
    height: 100%!important;
}
.darkmode #bookmarks_holder #bookmark_content * {
    background-color: var(--darkmode-bg1color);
}
.darkmode #bookmarks_holder #bookmark_content *:hover {
    cursor: pointer;
    background-color: var(--greenish);
    color: black!important;
}
body.darkmode, .darkmode input, .darkmode textarea, .darkmode select, .darkmode button, .darkmode .verse {
    border-color: var(--darkmode-border)!important;
    color: var(--txtcolor)!important;
}
body.darkmode {
    background-color: var(--darkmode-bg1color)!important;
}
.darkmode #bottomleft_btns button, .darkmode #topbartogglebtn{
    border: 1px solid #62776d!important;
}


/* HIGHLIGHT VERSION */
/* :has(.v_KJV:hover) span.v_KJV,
:has(.v_ESV:hover) span.v_ESV,
:has(.v_NET:hover) span.v_NET,
:has(.v_ABP-en:hover) span.v_ABP-en,
:has(.v_NIV’84:hover) span.v_NIV’84,
:has(.v_accented:hover) span.v_accented,
:has(.v_ABP-gr:hover) span.v_ABP-gr {
    background-color: var(--whitesmoke);
    box-shadow: inset 2px 0px 0px 0px var(--grey),
    inset -2px 0px 0px 0px var(--grey);
    transition: 250ms ease-in;
}
:has(.v_KJV:hover) .chptverses .vmultiple:first-child span.v_KJV,
:has(.v_ESV:hover) .chptverses .vmultiple:first-child span.v_ESV,
:has(.v_NET:hover) .chptverses .vmultiple:first-child span.v_NET,
:has(.v_ABP-en:hover) .chptverses .vmultiple:first-child span.v_ABP-en,
:has(.v_NIV’84:hover) .chptverses .vmultiple:first-child span.v_NIV’84,
:has(.v_accented:hover) .chptverses .vmultiple:first-child span.v_accented,
:has(.v_ABP-gr:hover) .chptverses .vmultiple:first-child span.v_ABP-gr
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: inset 0px 2px 0px 0px var(--grey),
    inset 2px 0px 0px 0px var(--grey),
    inset -2px 0px 0px 0px var(--grey);
    transition: 250ms ease-in;
}
:has(.v_KJV:hover) .chptverses .vmultiple:last-child span.v_KJV,
:has(.v_ESV:hover) .chptverses .vmultiple:last-child span.v_ESV,
:has(.v_NET:hover) .chptverses .vmultiple:last-child span.v_NET,
:has(.v_ABP-en:hover) .chptverses .vmultiple:last-child span.v_ABP-en,
:has(.v_NIV’84:hover) .chptverses .vmultiple:last-child span.v_NIV’84,
:has(.v_accented:hover) .chptverses .vmultiple:last-child span.v_accented,
:has(.v_ABP-gr:hover) .chptverses .vmultiple:last-child span.v_ABP-gr
{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: inset 0px -2px 0px 0px var(--grey),
    inset 2px 0px 0px 0px var(--grey),
    inset -2px 0px 0px 0px var(--grey);
    transition: 250ms ease-in;
}*/
