:root {
    --fontsize-main: 15px;
    --fontsize-refnsearch: 30px;
    --fontsize-versionsbuttons: 20px;
    --fontsize-scripture-nav: 15px;
    --fontsize-scripture: 13px;
    --fontsize-ref: 8px;
    --fontsize-strongstooltip: 13px;
    --fontsize-title:20px;
    --width-sidebuttons:60px;
    --heighWidth-refnsrchbtn:58px;
    --width-mainbutton:35px;
    --ref-hlt: #dde3db;
    --searchedword-hlt: maroon;
    --ref-img: url(images/background.jpg);
    --img-cancel: url(images/cancel-svgrepo-com.svg);
    --img-chkbox:url(images/check-box-svgrepo-com.svg);
    --ref-paper: url(images/IyEMTp.jpg);
    --verse-higlight: #ffff92;
    --verse-higlight: #fffb001b;
    --vhlt-hover:#fff08f99;
    --vmultiple-hover:#fff39b;
    --vmultiple2-hover:rgba(255, 213, 0, 0.527);
    --nav-bg-color: #fbfbfb;
    --vhlt-border: #8080809c;
    --vhlt: #ffffdd;
    --vhlt2: #ffff99;
    --vhlt3: #ffffc4;
    --versenote-contextmenu:white;
    --noteEdit-active:#ffe8d7;
    --strgs-num:#403b69;
    --strongword-hover: rgba(255, 223, 117, 0.662);
    --shadow-color:rgb(81, 81, 81);
    --shadow-color2:rgba(67, 67, 67, 0.87);
    --shadow-color3:rgba(172, 160, 160, 0.87);
    --shadow-ctxtmenu-hover:rgba(20, 2, 67, 0.87);
    --shadow-orange:rgb(255, 224, 156);
    --span-trans-hover:rgb(151, 116, 0);
    --span-hover:#f6efe3;
    --chpt: rgb(238, 227, 202);
    --verse-hover: rgb(248, 246, 241);
    --main-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --top-bar-bground-color: #212121;
    --darkmode-bg1color: #212121;
    --scroll-track-bg-color: #878787;
    --scroll-thumb-border-color: #000000;
    --scroll-thumb-bgcolor: #4b4b4b;
    --scroll-thumb-hover-border: #939cff;
    --scroll-thumb-hover-bg-color: #555;
    --buttons: #f8f8f8;
    --buttons-border: 0.25px solid #70707072;
    --selection:rgba(0, 0, 255, 0.1);
    --grey: grey;
    --grey-blue: rgb(216, 216, 216);
    --green:green;
    --greenish: #cbff7d;
    --greenish2: #adffa7;
    --greenyellow: greenyellow;
    --white: #ffff;
    --whitesmoke: whitesmoke;
    --orangered:orangered;
    --royalblue:royalblue;
    --redwords:crimson;
    --yellow:yellow;
    --lightpink:lightpink;
    --greenyellow:greenyellow;
    --black:black;
    --blue:blue;
    --brown:brown;
    --whitish_noteContextMenu: rgb(252, 252, 252);
    --col2-border:0.05em;
}
::selection {
    background-color: var(--selection);
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
.b{font-weight: bold;}
.i{font-style: italic;}
.em{
    font-style: italic;
    font-weight: bold;
    font-size: 0.75em;
}
.missing{
    font-weight:normal;
    font-size: 0.8em;
}
html {
    padding: 0;
    font-size: var(--fontsize-main);
    /* background: var(--ref-img); */
    font-family: var(--main-font);
}
body {
    position: relative;
    margin: 0;
    overflow-y: hidden;
    background: var(--ref-img);
    /* don't add color to the body, it will hide the svg */
}
body * {
    box-sizing: border-box;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
body>svg {
    width: 100% !important;
}
svg{
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}
.text_content:empty::before{
    content: 'Take down a comment to the verse';
    font-size: large;
    font-style: italic;
}
sup{
    font-size: 0.6em;
}
li li{
    list-style-type: lower-alpha;
}
li li li{
    list-style-type:lower-roman;
}
.verse {z-index: 0;}
#pagemaster {
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    row-gap: 0;
    border-bottom: 5px solid var(--scroll-thumb-hover-bg-color);
}
/* #ppp code, #context_menu:not(.win2) code { */
#ppp code, #context_menu code {
    font-size: var(--fontsize-ref);
}
.chptheading {
    background: var(--chpt) !important;
    border-bottom: 0.5px solid var(--grey);
    font-size:  calc(var(--fontsize-main) * 1.5);
}
#ppp .verse:not(code) {
    font-size: var(--fontsize-scripture);
}
#ppp>span {
    display: block;
}
#refnav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: row;
    height: inherit;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#refnav button:not(:last-child) {
    border-bottom: none;
}
/* #refnav button:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
} */
button#darkmodebtn {
    font-family: apple color emoji,segoe ui emoji,notocoloremoji,segoe ui symbol,android emoji,emojisymbols,emojione mozilla;
}
.rtl {
    direction: rtl
}
code{position: relative; padding-top: 5px;}
#show_crossref_comments{position: absolute;bottom:var(--fontsize-ref);display: flex;}
#show_crossref_comments button{font-size: var(--fontsize-ref);font-weight: bold;padding: 2px 5px;border-width: 0.5px;}
#show_crossref_comments button:not(:first-child){
    margin-left: 2px;
}
.showing_crossref #verse_crossref_button,
.showing_versenote #verse_notes_button{
    background: var(--greenish);
    font-style: italic;
}
.crossrefs, .verse_note{
    box-shadow: 0 2px 2px 0var(--scroll-track-bg-color);
}
.crossrefs{
    position: relative;
    padding: 5px 5px 0 5px;
    background: var(--whitesmoke);
    overflow: hidden;
    font-size: var(--fontsize-main);
    transition: max-height .2s ease-in-out;
    min-height: 10px;
    max-height: 500px;
    margin-bottom:5px;
    line-height: auto;
    opacity: 1;
    /* z-index: 2; */
}
.crfnnote {
    overflow: hidden;
}
#verse_note{display: none; position: relative;}
.verse_note {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.15s ease-in-out;
    padding: 5px;
    overflow: hidden;
    min-height: 10px;
    max-height: 80vh;
    margin-bottom:5px;
    line-height: auto;
    opacity: 1;
    background-color: var(--whitesmoke);
    font-size: 1.2em;
    box-shadow: 0 4.5px 10px 3px var(--shadow-color);
    z-index: 1;
}
.verse_note #context_menu {
    background: var(--versenote-contextmenu);
}
.verse_note #context_menu,
.verse_note #context_menu .cmtitlebar~span {
    font-size: inherit!important;
}
.text_content{
    position: relative;
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
    /* border:1px solid var(--grey)!important; */
    min-height:50px;
    max-height:80vh;
    overflow: auto;
    resize: vertical;
    padding: 10px;
}
.text_content span[ref],
.text_content span[strnum]:not(#context_menu span[strnum]){
    font-weight: bold;
    border-bottom: var(--black) 1px solid;
    color: var(--black);
    cursor: pointer;
}
.text_content #context_menu{
    background: var(--whitish_noteContextMenu);
    /* color: var(--white); */
}
.text_content span[ref]:hover{
    color: var(--grey);
    border-radius: 5px;
}
.save_edit_btns_holder{
    display:flex;
    align-content: space-between;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}
.save_edit_btns_holder button{
    font-size: large;
    font-weight: bold;
}
.note_temp_holder {
    overflow: hidden;
}
.note_edit_button{
    background: none;
    cursor: pointer;
}
.note_edit_button.active{
    background: var(--noteEdit-active);
}
.note_edit_button:active{
    box-shadow: 0px 0px 2px 0px var(--shadow-color);
}
.note_edit_button::before{
    content: 'Edit';
    font-style: italic;
    pointer-events: none;
}
.note_save_button::before{
    content: 'Save';
    font-style: italic;
    pointer-events: none;
}
/* CLOSE BUTTON FOR VERSENOTE */
.note_closebtn:not(.note_closebtn_x)::before {
    content: 'Close';
}
.closebtn, .note_closebtn {
    content: 'Close';
    font-style: italic;
    display: block;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}
.cmenu_closebtn,
.note_closebtn_x {
    background-color: whitesmoke!important;
    background: var(--img-cancel) center no-repeat;
    position: absolute;
    width: 1em;
    height: 1em;
    top: 0;
    right: 0;
}
.closebtn.cmenu_closebtn:hover {
    background: url(images/cancel-svgrepo-com-BLACK.svg) center no-repeat;
    background-color: transparent!important;
    box-shadow: 0px 0px 0px 1px rgba(155, 0, 0, 0.281)!important;
    border-radius: 0.2em;
    transition: all 0.3s ease-in-out;
}
.closebtn.cmenu_closebtn:active {
    box-shadow: 0px 0px 0px 1px rgba(155, 0, 0, 0.589)!important;
    border-radius: 0.2em;
    transition: all 0.3s ease-in-out;
}
#singleverse_compare_menu, #titlebarsearchparameters {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
}
#titlebarsearchparameters > * {
    flex-grow: 1;
    justify-content: left;
}
#singleverse_compare_menu button {
    font-size: var(--fontsize-ref);
    font-weight: bold;
    min-width: 25px;
    padding: 5px;
    text-overflow: ellipsis;
}
#singleverse_compare_menu input {
    width: 5.5px;
    position: absolute;
    right: 0;
}
#refnav>.refnav {
    height: 100%;
    float: left;
}

#refnav #app_settings {
    border-right: 0.25px solid var(--grey);
    background: var(--ref-img);
    overflow: hidden;
    z-index: 1;
}
#refnav #app_settings * {
    display: block;
}
#refnav #app_settings img {
    margin-left: 5px;
    margin-right: 5px;
    width: calc(var(--width-sidebuttons) * 0.8);
}
#refnav #app_settings>button {
    min-width: 45px;
    width:var(--width-sidebuttons)!important;
    height:var(--width-sidebuttons);
    padding: 6px 2px;
    font-size: 22.5px;
    font-size:calc(var(--width-sidebuttons)*0.65)!important;
    display: flex;
    justify-content: center;
    align-items: center;
}    
#bible_nav {
    font-size: var(--fontsize-scripture-nav)!important;
}
.refnav .bible_nav {
    height: 99.5%;
    float: left;
    background-color: var(--nav-bg-color);
    overflow-y: scroll;
    border-bottom: 2px solid;
}
#refnav .bible_nav * {
    cursor: pointer;
}
#refnav .bible_nav *:hover {
    background-color: var(--ref-hlt);
}
#refnav .bible_nav *:active {
    background: var(--ref-img);
}
.ref_hlt {
    font-weight: bold;
    font-style: italic;
    background-color: var(--ref-hlt);
    background: var(--ref-img);
    border-top: 0.25px solid var(--vhlt-border);
    border-bottom: 0.25px solid var(--vhlt-border);
}
.tmp_hlt {
    background-color: var(--ref-hlt);
}
#bible_chapters>option {
    display: none;
}
.show_chapter {
    display: block !important;
}
#bible_verses {
    display: none;
}
#bible_verses>option {
    width: 20px;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fontsize-main);
    font-family: '  Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    border: var(--buttons-border);
    background-color: var(--buttons);
    overflow: hidden;
}
.buttons {
    width: auto;
    background: var(--ref-img);
    border-bottom: 2px solid #70707072;
}
#context_menu {
    position: absolute;
    background: var(--whitesmoke);
    width: 400px;
    max-width: 100%;
    max-height: 80vh;
    padding: 5px;
    overflow-y: scroll;
    -webkit-box-shadow: 3px 3px 3.5px 0px var(--shadow-color2), 0 5px 5px 2px var(--shadow-color3), inset 0px 0.5px 0px 0px var(--grey);
    -moz-box-shadow: 3px 3px 3.5px 0px var(--shadow-color2), 0 5px 5px 2px var(--shadow-color3), inset 0px 0.5px 0px 0px var(--grey);
    box-shadow: 3px 3px 3.5px 0px var(--shadow-color2), 0 5px 5px 2px var(--shadow-color3), inset 0px 0.5px 0px 0px var(--grey);
    z-index: 10;
    font-size: var(--fontsize-strongstooltip);
    overflow-x:hidden;
    resize: both;
}
#context_menu.slidein, #context_menu.slideout {
    transition: none;
}
#context_menu[strnum] {
    padding: 0px;
}
#context_menu[strnum]>.cmtitlebar {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.7em;
}
#context_menu:hover {
    -webkit-box-shadow: 5px 5px 15px 0px var(--shadow-ctxtmenu-hover);
    -moz-box-shadow: 5px 5px 15px 0px var(--shadow-ctxtmenu-hover);
    box-shadow: 5px 5px 15px 0px var(--shadow-ctxtmenu-hover);
}
#context_menu:not([strnum]){
    -webkit-box-shadow: 3px 3px 3.5px 0px var(--shadow-color2), 0 5px 5px 2px var(--shadow-color3), inset 0px 23px 0px 0px var(--grey);
    -moz-box-shadow: 3px 3px 3.5px 0px var(--shadow-color2), 0 5px 5px 2px var(--shadow-color3), inset 0px 23px 0px 0px var(--grey);
    box-shadow: 3px 3px 3.5px 0px var(--shadow-color2), 0 5px 5px 2px var(--shadow-color3), inset 0px 23px 0px 0px var(--grey);
}
#context_menu>hr+.strngsdefinition>hr:first-child{display: none;}
#context_menu h2, #context_menu i  {font-size:inherit;}
#context_menu .strngsdefinition div {display: block;}
.vmultiple code:hover, #searchPreviewFixed .verse code:hover, .crossrefs>span:hover, #context_menu code:not(.cmtitlebar code):hover {text-decoration: underline;color: var(--blue);cursor: pointer;}
#context_menu .cmtitlebar code {
    display: inline-flex;
    align-items: center;
    font-size:inherit;
}
#context_menu code button.cmenusrchbtn {
    width: 1.75em;
    height: 1.75em;
    
    display: block;
    padding: 0;
    border-radius: 5px;
    margin-right: 10px;
}
#context_menu code button.cmenusrchbtn img {
    pointer-events: none;
}
#context_menu div{z-index: 2;}
#context_menu hr:not(:last-child){margin-top:0}
#context_menu hr:last-child{margin-bottom:0}
#context_menu .strngsdefinition:last-child hr:last-of-type{display: none;}
#context_menu .cmtitlebar{
    position: sticky;
    top: 0;
    right: inherit;
    background: var(--ref-img);
    font-size: 0.8em;
    font-weight: bold;
    width: 100%;
    padding-bottom: 10px;
    padding-right: 10px;
    /* margin-bottom: 10px; */
    /* box-shadow: 0px -21.5px 13px 28px var(--scroll-track-bg-color); */
    z-index: 3;
}
.verse_note #context_menu .cmtitlebar{
    box-shadow: 0px -26.5px 8px 17px var(--scroll-track-bg-color);
}

#context_menu .cmtitlebar::before {
    position: absolute;
    content: '';
    left: -9px;
    top: -5px;
    width: 120%;
    height: 115%;
    background: var(--ref-img);
    /* box-shadow: 0px -21px 3px 25px var(--scroll-track-bg-color); */
    z-index: -1;
}
/* #context_menu .cmtitlebar::after{
    position: absolute;
    content: '';
    left: -10px;
    bottom: -3px;
    border-top: 2px solid var(--scroll-track-bg-color);
    background: var(--ref-img);
    width: 110%;
    height: 0px;
    z-index: -1;
} */
#context_menu:not(.win2) .cmtitlebar~span{
    font-size:var(--fontsize-scripture);
}
button:disabled {
    cursor: default;
}
button:not(:disabled):hover {
    background-color: var(--chpt) !important;
}
.active_button,#searchsettings.active_button {
    background-color: var(--chpt) !important;
}
.red, span.red span{
    color: var(--redwords)!important;
}.strongsnum {
    color: var(--strgs-num);
}
[strnum]:empty {
    display: none !important;
}
#main {
    max-width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow-y: scroll;
    display: flex;
    position: relative;
    box-shadow: inset 1px 0px 2px 0px var(--shadow-color);
}
#main>*>* {
    padding-left: 5px;
}
#search_section {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: var(--royalblue);
}
#ppp>span.verse:last-child {
    padding-bottom: 20px;
}
[strnum] {
    cursor: pointer;
}
/* span.vmultiple {
    position: relative;
    z-index: 3;
} */
span.verse:hover:not(.vhlt),
span.vmultiple:hover {
    transition: background 0.05s ease-in-out;
    border-radius: 0.25em;
}
span.verse:hover:not(.vhlt){
    background-color: var(--verse-hover);
    cursor: pointer;
}
.crossrefs+.span.vmultiple{
    z-index: -4;
}
span[class^=v_]:hover {
    background-color: var(--vhlt3)!important;
    box-shadow: 2px 2px 4px -2px var(--shadow-color),-2px -2px 4px -2px var(--shadow-color),2px 2px 4px -2px var(--shadow-color),-2px -2px 4px -2px var(--shadow-color)!important; 
    z-index:1;
    transition: 250ms ease-in-out;
}

/* HIGHLIGHT VMULTIPLE */
span.vmultiple:hover{
    background-color: var(--whitesmoke);
    transition: box-shadow 0.05s ease-in;
    /* box-shadow: inset 1px 2.5px 3px -2px var(--shadow-color),
    inset 3px -3px 1.5px -1px var(--shadow-color)!important; */
    box-shadow: inset 0px 0px 5px 1px var(--shadow-color)!important;
    transition: 250ms ease-in;
    z-index: 4;
}
/* HIGHLIGHT VERSION */
/* :has(.v_KJV:hover) span.v_KJV,
:has(.v_ESV:hover) span.v_ESV,
:has(.v_NET:hover) span.v_NET,
:has(.v_ABP-en:hover) span.v_ABP-en,
:has(.v_NIV’84:hover) span.v_NIV’84,
:has(.v_accented:hover) span.v_accented,
:has(.v_ABP-gr:hover) span.v_ABP-gr {
    background-color: var(--whitesmoke);
    box-shadow: inset 2px 0px 0px 0px var(--grey),
    inset -2px 0px 0px 0px var(--grey);
    transition: 250ms ease-in;
}
:has(.v_KJV:hover) .chptverses .vmultiple:first-child span.v_KJV,
:has(.v_ESV:hover) .chptverses .vmultiple:first-child span.v_ESV,
:has(.v_NET:hover) .chptverses .vmultiple:first-child span.v_NET,
:has(.v_ABP-en:hover) .chptverses .vmultiple:first-child span.v_ABP-en,
:has(.v_NIV’84:hover) .chptverses .vmultiple:first-child span.v_NIV’84,
:has(.v_accented:hover) .chptverses .vmultiple:first-child span.v_accented,
:has(.v_ABP-gr:hover) .chptverses .vmultiple:first-child span.v_ABP-gr
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: inset 0px 2px 0px 0px var(--grey),
    inset 2px 0px 0px 0px var(--grey),
    inset -2px 0px 0px 0px var(--grey);
    transition: 250ms ease-in;
}
:has(.v_KJV:hover) .chptverses .vmultiple:last-child span.v_KJV,
:has(.v_ESV:hover) .chptverses .vmultiple:last-child span.v_ESV,
:has(.v_NET:hover) .chptverses .vmultiple:last-child span.v_NET,
:has(.v_ABP-en:hover) .chptverses .vmultiple:last-child span.v_ABP-en,
:has(.v_NIV’84:hover) .chptverses .vmultiple:last-child span.v_NIV’84,
:has(.v_accented:hover) .chptverses .vmultiple:last-child span.v_accented,
:has(.v_ABP-gr:hover) .chptverses .vmultiple:last-child span.v_ABP-gr
{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: inset 0px -2px 0px 0px var(--grey),
    inset 2px 0px 0px 0px var(--grey),
    inset -2px 0px 0px 0px var(--grey);
    transition: 250ms ease-in;
} */
.v_dblclckd {
    background-color: var(--vhlt-hover);
    border-radius: 10px;
    box-shadow: 0px 0px 0px 1px var(--grey);
}
span.translated:hover {
    border-bottom: 1px solid var(--span-trans-hover);
    color: var(--brown);
}

sup {
    font-weight: bold;
}
.translated[trans] {
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.search_options {
    display: none;
    font-size: small;
    font-style: italic;
    color: var(--whitesmoke);
}
.eng2grk {
    text-indent: -9999px;
}
.eng2grk>span {
    display: inline;
    font-weight: bold;
}
#fontchange, #fontsizes {
    width: 100%;
}
#eng2grk_sup_table{
    min-width:100%;
    border-collapse:collapse;
    border-spacing: 0;
}
#eng2grk_sup_table td {
    padding:0;
}
#eng2grk_sup_table button {
    width:100%;
    min-height:30px;
    min-height: 2.5em!important;
    font-weight:bold;
}
#bibleapp_cache td:first-child {
    width: 125px;
    text-align: right;
    padding-right: 10px;
}
.strnum:after {
    content: attr(data-lemma);
    font-style: italic;
}
#context_menu .strnum:not(:hover),
#strongsdefinitionwindow .strnum:not(:hover){
    font-style: italic;
    /* border-bottom: 1px solid; */
    box-shadow: inset 0px -1px 0px 0px;
}
#searchresultwindow {
    position: absolute;
    top: 12px;
    right: 5px;
    max-height: 70%;
    width: 450px;
    background: var(--white);
    overflow: scroll;
    z-index: 99;
}
.relative {
    position: relative;
    height: 100%;
}
#searchPreview>* {
    display: block;
    padding: 0 5px;
}
#searchPreview [ref]:hover {
    font-weight: bolder;
    border-bottom: 1px dashed var(--blue);
    border: 2px solid var(--grey);
}#searchrelative {
    display: flex;
}
#searchclose {
    padding: 0 2px;
    font-size: 10px;
    font-weight: bold;
    border-left: 0.5px solid var(--black);
}
#searchclose:active,
#searchminimize:active {
    font-style: italic;
}
#searchclose:hover {
    background-color: var(--lightpink);
}
#searchminimize:hover {
    background-color: var(--greenyellow);
}
#searchminimize {    padding: 0 2px;
    font-size: 10px;
    font-weight: bold;
    border-left: 0.5px solid var(--black);
}
#refnav {
    /* height: auto; */
    overflow-y: hidden;
    font-size: var(--fontsize-main);
}
#refnav input {
    height: 8px;
    width: 8px;
}
#searchparameters {
    min-height: auto;
    border-bottom: 1px solid var(--scroll-track-bg-color);
    border-top: 0;
    background-color: var(--ref-hlt);
    font-size: var(--fontsize-main);
}
.search_param_btns{
    width: 100%;
    text-align: left;
}
#searchparameters div:first-of-type+div,
#bibleapp_cache div:first-of-type,
#bibleapp_cache .settingssectionheadings {
    border-bottom: 1px solid var(--scroll-track-bg-color);
    border-top: 1px solid var(--scroll-track-bg-color);
    margin: 0;
    box-shadow: 0 0.5px 0 var(--shadow-color);
    background-color: var(--whitesmoke);
    background-image: var(--ref-img);
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
#searchprametersbtnholder {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 0.5px;
}
#searchprametersbtnholder>button {
    font-size: 13px;
    width: auto;
}
.bible_versions_heading{
    box-shadow: 0 0.5px 0 var(--shadow-color);
    background-color: var(--whitesmoke);
    /* background-image: var(--ref-img); */
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
#bibleapp_cache *:not(.settingssectionheadings) {
    font-size: var(--fontsize-main);
}
.bible_nav {
    float: left;
    overflow-y: scroll;
    height: 100%;
}
.bible_nav {
    font-weight: bold;
    padding: 5px;
}

#strongsdefinitionwindow details, details {
    border-bottom: 2px solid #aaa;
    /* border-radius: 4px; */
    padding: .25em 0;
    z-index: -10;
}
#bibleapp_available_notes details {
    padding: 0;
    margin-bottom: 8px;
}

#strongsdefinitionwindow summary, summary {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    /* font-weight: bold; */
    margin: -.5em -.5em 0;
    padding: .5em;
    cursor: pointer;
    z-index: -10;
    list-style: none;
}
#strongsdefinitionwindow summary i, summary i {
    font-size: 0.7em;
}
#strongsdefinitionwindow summaryh2, summaryh2 {
    font-size: 1em;
}
/* #strongsdefinitionwindow summary>div, summary>div {
    background: url(images/up-arrow-svgrepo-com.svg) center no-repeat;
} */
#strongsdefinitionwindow summary>div:first-of-type, summary>div:first-of-type {
    background: url(images/arrow-up-svgrepo-com.svg) center no-repeat;
    min-width: 1em;
    height: 2em;
    margin: 10px;
}

/* #strongsdefinitionwindow details[open],
details[open] {
    background-color:#cbff7d24;
} */
#strongsdefinitionwindow details[open] > summary,
details[open] summary {
    /* background-color:#fdff7f25; */
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

#strongsdefinitionwindow details[open] > summary {
    margin: 0;
    width: 400px;
}
#strongsdefinitionwindow details > summary {
    margin: 0;
    width: 400px;
}

#strongsdefinitionwindow details[open] > summary > div:first-of-type,
details[open] > summary > div:first-of-type {
    background: url(images/arrow-down-svgrepo-com.svg) center no-repeat;
    /* min-width: 1em; */
    /* height: 2em; */
    /* margin: 10px; */
}

#bible_nav,
#bible_versions,
#bibleapp_cache {
    max-width: 600px;
    height: 100%;
    border-right: 2px solid var(--grey);
    font-size: var(--fontsize-main);
}
#bible_versions,
#searchPreviewWindowFixed,
#strongsdefinitionwindow,
#bibleapp_cache {
    overflow-y: auto;
    background-color: var(--verse-higlight);
}
#bible_versions,
#bibleapp_cache {
    overflow-y: scroll;
}
/* #bibleapp_cache label,#bibleapp_cache input {
    display: inline!important;
} */
#cache_table {
    width: 100%;
    display: table!important;
    border-collapse:collapse;
}
#cache_table td{min-width:40px;}
#cache_table td button{min-width: 100%;font-weight: bolder;font-size: 200%!important;padding: 0;}
#hidestrongshighlight {display: none;}
#strongsdefinitionwindow {
    /* min-width: 400px; */
    font-size: var(--fontsize-scripture);
}
#strongsdefinitionwindow::after {
    content: '';
    background-color: #ccc;
    position: absolute;
    right: 0;
}
#searchPreviewWindowFixed,
#strongsdefinitionwindow{
    max-width: 400px;
    height: 100%;
    overflow-x: hidden;
    /* overflow-y: scroll; */
}
/* #strongsdefinitionwindow details.strngsdefinition {
    max-width: 400px;
} */
#resizerdiv {
    display: none;
}
#resizerdiv:hover,#resizerdiv:active {
    background-color: var(--greenyellow);
}
#strongsdefinitionwindow>*:not(hr),
#strongsdefinitionwindow>*:not(hr),
#bible_versions>*:not(hr),
#bibleapp_cache>*:not(hr) {
    padding-right: 3px;
    padding-left: 3px;
}
#bible_versions {
    font-size: var(--fontsize-main);
}
.strngsdefinition h1,
.strngsdefinition h2,
.strngsdefinition h3,
.strngsdefinition h4 {
    font-size: inherit;
    display: inline;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
/* .strngsdefinition .strnum {
    transition: none!important;
} */
.strngsdefinition h5,h6 {
    margin: 0px 5px 0px 0px;
    padding-left: 7.5px;
    border-bottom: 1px solid var(--grey);
    font-style: italic;
    background-color: rgb(105, 105, 105);
    color: var(--white)!important;
    z-index: 5;
}
/* detail {
    background-color: inherit;
}
summary {
    background-color: inherit;
} */
#strongsdefinition_text h5,h6 {
    position: relative;
    margin: 0px;
    padding-left: 10px;
    box-shadow: 0px 2px 0px 0px var(--grey);
    font-style: italic;
    background-color: rgb(105, 105, 105);
    color: var(--white)!important;
    z-index: 5;
}
.strngsdefinition p {
    position: relative;
    margin: 5px 10px;
    font-size: 0.9em;
    background-color:inherit;
}
.strngsdefinition div {
    overflow: hidden;
}
#searchPreviewWindowFixed.slidein{
    display: flex!important;
}
#searchPreviewWindowFixed {
    position: relative;
    flex-direction: column;
    overflow-y: hidden;
    font-size: var(--fontsize-scripture);
    padding-bottom: 7px;
    margin-bottom: 7px;
    height: 100%;
    width: 400px;
}
#searchPreviewWindowFixed #context_menu {
    left: 0em!important;
    right: 0em!important;
    width: calc(100% - 0.5em);
}
#searchparameters div:last-child {
    display: block;
    background-color: var(--verse-higlight);
    background-image: var(--ref-img);
    border-top: 1.5px solid var(--scroll-track-bg-color);
    box-shadow: 0 2px 0 var(--grey);
}
#searchparameters #where2display {
    display: block;
    border-top: 1.1px solid var(--scroll-track-bg-color);
}
#searchparametertitlebar_holder{
    display: flex;
}
#searchparametertitlebar {
    cursor: pointer;
    height: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#hidesearchparameters, #showonlysearchinput {
    background-color: var(--whitesmoke);
    min-width: calc(var(--fontsize-refnsearch) * 2.5);
    border: 1px solid var(--scroll-track-bg-color);
    cursor: pointer;
    font-weight:900;
}
.hidesearchparameters>*:not(div),
.hidesearchparameters #searchprametersbtnholder,
.hidesearchparameters #searchdiv_fixed {
    display: none !important;
}
#searchPreviewFixed {
    position: relative;
    height: 100%;
    overflow-y: auto;
}
#searchPreviewFixed>* {
    display: block;
    padding: 0 5px;
}
#searchPreviewFixed>.chptheading,
#searchPreviewFixed code {
    cursor: pointer;
    font-size: var(--fontsize-main);
    font-weight: bolder;
    margin: 0;
}
#searchPreviewFixed .chptheading+.verse {
    margin-top: 5px;
}
#searchdiv_fixed {
    display: flex;
    width: 100%;
}
input#wordsearch_fixed {
    width: 100%;
    height: auto;
    border: none;
}
#forwordsearch_fixed:disabled, #forwordsearch_fixed:not(:disabled), #hidesearchparameters {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
input#wordsearch_fixed {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: var(--buttons);
}
#searchPreviewWindowFixed button {
    border: 1px solid rgb(198, 198, 198);
}

::-webkit-scrollbar {
    width: 7.5px;
}

::-webkit-scrollbar-track {
    background: var(--scroll-track-bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb-bgcolor);
    border-top: 2px solid var(--scroll-thumb-border-color);
    border-bottom: 2px solid var(--scroll-thumb-border-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover-bg-color);
    border-top: 2px solid var(--scroll-thumb-hover-border);
    border-bottom: 2px solid var(--scroll-thumb-hover-border);
}

.section_headings {
    display: none;
}
.vmultiple {
    display: flex !important;
    flex-wrap: wrap;
}
.vmultiple>.section_headings,.vmultiple>h1,.vmultiple>h2,.vmultiple>h3,.vmultiple>h4 {
    flex: 1 0 100%;
}
.vmultiple>span {
    padding: 5px 5px;
    /* border-bottom: 1px solid var(--grey-blue); */
    flex-basis: 50px;
    flex-grow: 1;
}
span.vmultiple:hover span.vhlt {
    background: var(--yellow);
}
span.vmultiple.noted code {
    box-sizing:border-box;
    font-weight:bolder;
    font-style:italic;
    border-bottom: 3px solid var(--orangered);
    text-decoration:none!important;
}
span.vmultiple.noted code #verse_notes_button {
    background: var(--white);
    color: var(--green);
}

.slideup {
    opacity: 0;
    overflow: hidden;
    height: 0;
    margin-top: -150px!important;
    z-index: -1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#refnav>.refnav,
#refnav>#bible_nav,
#refnav>#bible_versions,
#refnav>#searchPreviewWindowFixed,
#refnav>#strongsdefinitionwindow,
#refnav>#bible_versions,
#refnav>#bibleapp_cache {
    /* margin-left: 0px; */
    transition: all 0.2s ease-in-out;
}
#refnav img, #top_horizontal_bar img {
    pointer-events: none;
}
.slidein {
    display: block;
    margin-left: 0px;
    margin-top: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.slideout {
    margin-left: -900px;
    margin-top: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.displaynone {
    display: none !important;
}
#refnav_col2, #togglenavbtn {
border-right: var(--col2-border) solid auto!important;
}
#refnav_col2 > .slidein.displaynone{
    display: null!important;
}
.displayshow {
    display: block !important;
}
.vhlt {
    background-color: var(--vhlt2)!important;
    border-top: 0.25px solid var(--vhlt-border);
    border-left: 0.25px solid var(--vhlt-border);
    border-right: 0.25px solid var(--vhlt-border);
    border-radius: 2px;
    z-index: 1;
    -webkit-box-shadow: 1px 1px 2px 0px var(--shadow-color2);
    -moz-box-shadow: 1px 1px 2px 0px var(--shadow-color2);
    box-shadow: 1px 1px 2px 0px var(--shadow-color2);
}
.vhlt:hover {
    background-color: var(--vhlt-hover);
    -webkit-box-shadow: 1px 1px 1px 0px var(--shadow-color2);
    -moz-box-shadow: 1px 1px 1px 0px var(--shadow-color2);
    box-shadow: 1px 1px 1px 0px var(--shadow-color2);
}
.vhlt+.vhlt {
    border-top: 0;
    padding-bottom: 3px;
}
[class^=v_].vhlt{
    background-color: var(--vhlt2);
}
#mobilebuttons {
    display: none;
}
/* TOP-BAR TOGGLE BUTTON */
#topbartogglebtn:hover {
    background: var(--ref-img);
    border: 1px solid var(--grey);
}
#topbartogglebtn {
    position: absolute;
    top: calc(100% + 0.2em);
    right: 0.5em;
    right: 0.85em;
    width: 2.95rem;
    height: 2.15rem;
    background: var(--ref-img);
    background: transparent;
    border-radius: 0 0 0.15em 0.15em;
    box-shadow: 2.75px 2.75px 0 0.05em darkgrey;
    width: calc(var(--width-sidebuttons) * 1.15);
    height: calc(var(--width-sidebuttons) * 0.8);
    border-radius: 1px;
    padding: 0;
}
#topbartogglebtn span {
    position: relative;
    width: 0.65rem;
    height: 1.6rem;
    background-color: var(--grey);
    display: inline-block;
    transition: all 0.2s ease;
    /* width: calc(var(--fontsize-refnsearch) * 0.65);
    height: calc(var(--fontsize-refnsearch) * 2.5); */
    width: calc(var(--width-sidebuttons) * 0.15);
    height: calc(var(--width-sidebuttons) * 0.65);
    border: none;
}
#topbartogglebtn.active_button span:first-of-type {
    transform: rotate(-45deg);
}
#topbartogglebtn span:first-of-type {
    left: -0.27em;
    transform: rotate(45deg);
}
#topbartogglebtn.active_button span:last-of-type {
    transform: rotate(45deg);
}
#topbartogglebtn span:last-of-type {
    right: -0.27em;
    transform: rotate(-45deg);
}
/* TOP-HORIZONTAL BAR */
#top_horizontal_bar{
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border-bottom: 2px solid var(--grey);
    display: flex;
    flex-wrap: wrap;
    z-index: 10;
}
#top_horizontal_bar_buttons{
    background: var(--ref-img);
    border-bottom: 2px solid #70707072;
    display: flex;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/* #ref_search_versions_holder > div input:not([type=checkbox]) {
    width: 100px;
} */
#top_horizontal_bar_buttons>button {
    font-size:var(--width-mainbutton);
    padding: 0;
}
#top_horizontal_bar #ref_search_versions_holder, #top_horizontal_bar #titlebarsearchparameters > *{
    border-bottom: none!important;
}
#top_horizontal_bar #titlebarsearchparameters {
    border-top: none!important;
}

/* REF & SEARCH */
#ref_search_versions_holder {
    display: flex;
    flex-wrap: wrap;
}
/* #refdiv {background-color: yellow;}
#bibleversions_btns {background-color: greenyellow;} */
#searchdiv {border: var(--buttons-border);}
#searchdiv * {
    border-top: none;
    border-bottom: none;
}
#refdiv,#searchdiv,#bibleversions_btns {
    display: flex;
}
#refdiv input {
    width: 100%;
    font-size: var(--fontsize-refnsearch);
    flex-grow: 1;
}
#refdiv input{
    font-size: calc(var(--fontsize-refnsearch)*1.5);
}
#refdiv button, #searchdiv button, #forwordsearch_fixed {
    display: flex;
    align-items: center;
    padding: 2px;
    min-width: calc(var(--fontsize-refnsearch) * 2.5);
    min-height: calc(var(--fontsize-refnsearch) * 2);
    font-size: calc(var(--fontsize-refnsearch) * 2);
}

/* REFERENCE */
#reference {
    /* width: -webkit-fill-available; */
    vertical-align: bottom;
    background-color: var(--buttons);
    border: var(--buttons-border);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bolder;
    font-size: 40px;
    flex-grow: 1;
}   

/* SEARCH */
#wordsearch{
    background-color: var(--buttons)!important;
    border: var(--buttons-border)!important;
}
#wordsearch::-webkit-input-placeholder,
#reference::-webkit-input-placeholder,#wordsearch:-moz-placeholder,
#reference:-moz-placeholder,#wordsearch::-moz-placeholder,
#reference::-moz-placeholder,#wordsearch:-ms-input-placeholder,
#reference:-ms-input-placeholder {
    font-style: italic;
}

/* BIBLE VERSIONS BUTTONS */
#bibleversions_btns {
    display: contents;
    /* display: inline-block; */
    /* flex-wrap: wrap; */
}
#bibleversions_btns input {
    width: 6px;
    pointer-events: none;
    display: none;
}
#bibleversions_btns button {
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight:bold;
    font-size: var(--fontsize-versionsbuttons);
    border-right: 1px solid var(--grey);
}
#bibleversions_btns button:first-child {
    border-left: 1px solid var(--grey);
}

/* SEARCH PARAMETERS */
#titlebarsearchparameters {
    font-size: 12px;
    margin-top: 0;
    transition-duration: 0.3s;
}
#titlebarsearchparameters > *{
    font-size: 1.2em;
}

/* AVAILABLE NOTES */
#bibleapp_available_notes{
    max-width: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: pointer;
    background: white;
    height: 100%;
}
#bibleapp_available_notes em {
    display: block;
    padding-left: 0.4em;
    padding-right: 0.4em;
    background: var(--grey);
    color: var(--white);
    font-weight: bold;
    font-size: var(--fontsize-main);
}
#bibleapp_available_notes code {
    box-sizing: border-box;
    height: 1.1em;
    padding-left: 0.1em;
}
#bibleapp_available_notes code:hover {
    color: var(--redwords);
    font-weight: bold;
    box-shadow: 0px -25px 0px 0px var(--verse-higlight) inset;
}
#bibleapp_available_notes span:not(:first-child) {
    border-left: 0.15em solid grey;
    padding-left: 0.1em;
}
#bibleapp_available_notes span:hover {
    border-bottom: 5px solid var(--grey);
    border-radius: 5px;
    background: var(--verse-higlight);
}
#bibleapp_available_notes b {
    font-size: 1.2em;
}
#bibleapp_available_notes details > summary {
    color: var(--black);
    background: var(--whitesmoke);
    font-weight: bold;
    display:list-item;
    list-style: inside disclosure-closed;
    margin-right: 0;
    margin-left: 0;
}
#bibleapp_available_notes details[open] > summary {
    list-style: inside disclosure-open;
}
/* #bibleapp_available_notes details:hover {
    background: var(--verse-hover);
} */
#bibleapp_available_notes details:hover > summary {
    background: var(--selection);
}
#togglenavbtn {
    font-size: calc(var(--fontsize-refnsearch) * 2.3)!important;
    font-weight: 400;
    /* min-width: calc(45px + var(--col2-border))!important; */
    min-width: 45px;
    width: var(--width-sidebuttons)!important;
}
#togglenavbtn img {
    width: calc(var(--fontsize-refnsearch) * 2)!important;
    max-width: 60.5px!important;
}
div>br:first-child{display: none;}

#btnAdd {
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #333;
    color: #fff;
    border: 0;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}
button:has(.checkboxreplacement){
    position: relative;
    padding-left: 2em;
}
button .checkboxreplacement:has(input[type="checkbox"]) input[type="checkbox"] {
    display: block;
    position: absolute;
    left: -100vw;
    visibility:none;
}
button .checkboxreplacement:has(input[type="checkbox"]) {
    width: 2em;
    height: 2em!important;
    margin-right: 0.1em;
    /* border: solid #d9d9d9; */
    flex-basis: 100%;
    transform: scale(0.7);
    position: absolute;
    left: 0;
}
button .checkboxreplacement:has(input[type="checkbox"]):before {
    content: "";
    background: var(--img-cancel) center no-repeat;
    display: flex;
    width:100%!important;
    height:100%!important;
}
button:hover .checkboxreplacement:has(input[type="checkbox"]):before {
    background-color: #ccc;
}
button .checkboxreplacement:has(input[type="checkbox"]:checked):before {
    background: var(--img-chkbox) center no-repeat;
    background-color: var(--chpt);
}
#sidemenubtn_rightbottom {
    width: 2em;
    height: 2em;
    width: var(--width-sidebuttons);
    min-width: 45px;
    height: var(--width-sidebuttons);
    position: fixed;
    bottom: 1em;
    right: 0.75em;
    z-index: 99;
    display: block;
    /* display: none; */
    border: 2px solid #00000030;
    background: #eaeaea6b;
    transition: all 0.5s;
}
#sidemenubtn_rightbottom:hover {
    opacity: 1;
    transition: all 0.5s;
}
/* body:has(#top_horizontal_bar_buttons.slideup) #sidemenubtn_rightbottom {
    display: block;
} */
input:focus {
    outline: none;
}

#strongsdefinitionwindow {
    display: flex;
    flex-direction: column;
}
#strongsnum_inputholder {
    display: flex;
    align-items: stretch;
}
#strongsnum_inputholder #strongsnum_input {
    width: 100%;
    height: auto;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border: none;
    box-shadow: inset 0px 0px 0px 0.5px var(--grey);
}
#strongsnum_inputholder #strongsnum_srchbtn {
    width: 50px;
    display: flex;
    align-items: stretch;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
#strongsnum_inputholder #strongsnum_srchbtn img {
    transform: scale(0.6);
}
#strongsdefinitionwindow #strongsdefinition_text {
    overflow-x: hidden;
    overflow-y: auto;
}
.crfnnote_btns {
    position: relative;
    display: flex;
    z-index: 3;
}
#singleverse_compare_menu {
    display: flex;
    flex-wrap: wrap;
}

/* DARKMODE SECTION *//* @media (prefers-color-scheme: dark) */
.darkmode {
    --verse-hover: transparent;
    --ref-img: rgb(18, 18, 18);
    --ref-img: rgb(10, 9, 12);
    --ref-img: #0a0c10;
    --ref-img: #181a1b;
    --vmultiple-hover: rgb(0, 13, 13);
    --vhlt: rgb(0, 21, 21);
    --vhlt2: rgb(0, 39, 39);
    --selection: rgba(0, 255, 0, 0.6);
    --selection: rgb(2 20 7);
    --black: white;
    --grey: rgb(22, 29, 24);
    --searchedword-hlt: orange;
    --whitish_noteContextMenu: rgb(18, 18, 18);
    --versenote-contextmenu: rgb(18, 18, 18);
    --verse-higlight:rgb(18, 18, 18);
    --chpt:rgb(0, 25, 26);
    --chpt2: rgb(0, 0, 0);
    --vhlt3: rgb(10, 9, 12);
    --vhlt3: rgb(8,4,0);
    --whitesmoke: rgb(18, 18, 18);
    --whitesmoke: rgb(10, 9, 12);
    --whitesmoke: rgb(8,4,0);
    --buttons:rgb(0, 12, 12);
    --buttons-txtcolor:rgb(245, 255, 251);
    --buttons-txtcolor:#e8e6e3;
    --darkmode-border:rgb(0, 78, 78);
    --darkmode-border:rgba(214, 212, 170, 0.501);
    --darkmode-border-2:rgba(0, 132, 132, 0.779);
    --darkmode-border-2:#62776d;
    --img-cancel: url(images/cancel-svgrepo-com-DarkMode.svg);
    --img-chkbox:url(images/check-box-svgrepo-com-DarkMode.svg);
    --darkslategray:darkslategray;
    --darkslategray:rgb(107, 84, 0);
}
.darkmode button, .darkmode input {
    background-color: var(--vhlt);
    color: var(--buttons-txtcolor)!important;
}
.darkmode #strongsdefinitionwindow summary>div:first-of-type, .darkmode summary>div:first-of-type {
    background: url(images/white-arrow-up-svgrepo-com.svg) center no-repeat;
    min-width: 1em;
    height: 2em;
    margin: 10px;
}
.darkmode #strongsdefinitionwindow details[open] > summary > div:first-of-type,
.darkmode details[open] > summary > div:first-of-type {
    background: url(images/white-arrow-down-svgrepo-com.svg) center no-repeat;
}
.darkmode #hidesearchparameters,
.darkmode #showonlysearchinput,
.darkmode .cmenu_closebtn,
.darkmode .closebtn,
.darkmode .note_closebtn,
.darkmode #bibleapp_available_notes {
    background-color: transparent!important;
}
.darkmode span.vmultiple.noted code #verse_notes_button {
    background: var(--brown);
}
.darkmode #searchparameters {
    background: none;
}
.darkmode button+button {
    border-left: none!important;
}
.darkmode #searchparameters button {
    border-top: none!important;
    border-bottom: none!important;
}
.darkmode #searchparameters * button:first-child {
    border-left: none!important;
}
.darkmode #searchparameters * button:last-child {
    border-right: none!important;
}
.darkmode button:hover .checkboxreplacement:has(input[type="checkbox"]):before {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
}
.darkmode button .checkboxreplacement:has(input[type="checkbox"]:checked):before {
    background: var(--img-chkbox) center no-repeat;
    background-color: var(--chpt);
}
.darkmode span[ref]:hover, .darkmode .strnum:hover {
    box-shadow: inset 0 -1.5em 0px 0px rgba(255, 223, 117, 0.663),
    0 5px 5px -2px var(--shadow-orange)!important;
}
.darkmode #fontchange, .darkmode #biblebooksgroup, .darkmode #fontsizes {
    background-color: #000000;
}
.darkmode #refnav .bible_nav *:hover, .darkmode #refnav .tmp_hlt {
    background-color: var(--ref-img);
    box-shadow: 0px 3px 0px 0px var(--vhlt-border), 0px -3px 0px 0px var(--vhlt-border);
}
.darkmode ::selection {
    background-color: purple;
}
.darkmode * {
    color:var(--buttons-txtcolor)!important;
    border-color: var(--darkmode-border)!important;
}
.darkmode #topbartogglebtn,
.darkmode #sidemenubtn_rightbottom {
    transition: all 0.5s ease 0s;
}
.darkmode #sidemenubtn_rightbottom {
    background-color: var(--darkmode-border-2);
}   
.darkmode #topbartogglebtn span {
    background-color: grey;
}
.darkmode #topbartogglebtn:hover span {
    background-color: whitesmoke;
}
/* .darkmode .active_button, .darkmode #searchsettings.active_button {
    background-color: burlywood!important;
    color: #000!important;
} */
.darkmode .active_button, .darkmode #searchsettings.active_button {
    background-color: grey !important;
    background-color: #3f5560 !important;
    background-color: #3f6056 !important;
}
.darkmode #refnav_col2, .darkmode #togglenavbtn {
    border-right: var(--col2-border) solid var(--darkmode-border)!important;
}
.darkmode #context_menu .cmtitlebar::before {
    box-shadow: inset 0px -0.15em 0px 0px var(--darkslategray);
}
.darkmode #context_menu {
    border: 2px solid var(--darkslategray)!important;
    box-shadow: inset 0px 23px 0px 0px var(--darkslategray);
}
.darkmode .strngsdefinition h5,
.darkmode .strngsdefinition h6 {
    background-color: var(--darkslategray);
    border-bottom: 5px solid var(--darkslategray);
}
.darkmode #context_menu code button.cmenusrchbtn {
    border: rgb(166, 166, 166)!important;
    background-color: transparent;
}
/* SEARCH ICON WITH CSS DIV */
.magnifying_glass {
    /* font-size: 10em; */
    display: inline-block;
    width: 0.5em;
    box-sizing: content-box;
    height: 0.5em;
    border: 0.1em solid black;
    position: relative;
    border-radius: 50%;
    margin-bottom:0.15em;
    box-shadow: inset -0.05em -0.09em 0em 0.2em #80808078!important;
}
.magnifying_glass:before {
    content: "";
    display: inline-block;
    position: absolute;
    right: 0.25em;
    bottom: -0.2em;
    border-width: 1em;
    background: black;
    width: 0.45em;
    height: 0.08em;
    transform: rotate(-60deg);
}
.darkmode .magnifying_glass {
    border: 0.1em solid white!important;
    box-shadow: inset -0.05em -0.09em 0em 0.2em #8ebdf9e0!important;
}
.darkmode .magnifying_glass:before {
    background: white;
}
.verse_note td,
.verse_note th {
    vertical-align:top;
    border: 1px solid grey;
    padding-left: 0.5em;
}