:root {
    --fontsize-main: 15px;
    --fontsize-scripture-nav: 15px;
    --fontsize-scripture: 13px;
    --fontsize-ref: 8px;
    --fontsize-strongstooltip: 13px;
    --fontsize-title:20px;
    --width-sidebuttons:27px;
    --width-mainbutton:35px;
    --ref-hlt: #dde3db;
    --ref-img: url(images/background.jpg);
    --ref-paper: url(images/IyEMTp.jpg);
    --verse-higlight: #ffff92;
    --verse-higlight: #fffb001b;
    --vhlt-hover:#fff08f99;
    --vmultiple-hover:#fff39b;
    --vmultiple2-hover:rgba(255, 213, 0, 0.527);
    --nav-bg-color: #fbfbfb;
    --vhlt-border: #8080809c;
    --vhlt: #ffffc4;
    --vhlt2: #ffff99;
    --versenote-contextmenu:white;
    --noteEdit-active:#ffe8d7;
    --strgs-num:#403b69;
    --strongword-hover: rgba(255, 223, 117, 0.662);
    --shadow-color:rgb(81, 81, 81);
    --shadow-color2:rgba(67, 67, 67, 0.87);
    --shadow-color3:rgba(172, 160, 160, 0.87);
    --shadow-ctxtmenu-hover:rgba(20, 2, 67, 0.87);
    --shadow-orange:rgb(188, 133, 13);
    --span-trans-hover:rgb(151, 116, 0);
    --span-hover:#f6efe3;
    --chpt: rgb(238, 227, 202);
    --verse-hover: rgb(248, 246, 241);
    --main-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --top-bar-bground-color: #212121;
    --darkmode-bg1color: #212121;
    --scroll-track-bg-color: #878787;
    --scroll-thumb-border-color: #000000;
    --scroll-thumb-bgcolor: #4b4b4b;
    --scroll-thumb-hover-border: #939cff;
    --scroll-thumb-hover-bg-color: #555;
    --buttons: #f8f8f8;
    --buttons-border: 0.25px solid #70707072;
    --selection:rgba(0, 0, 255, 0.1);
    --grey: grey;
    --grey-blue: rgb(216, 216, 216);
    --green:green;
    --greenish: #cbff7d;
    --greenish2: #adffa7;
    --greenyellow: greenyellow;
    --white: #ffff;
    --whitesmoke: whitesmoke;
    --orangered:orangered;
    --royalblue:royalblue;
    --redwords:crimson;
    --yellow:yellow;
    --lightpink:lightpink;
    --greenyellow:greenyellow;
    --black:black;
    --blue:blue;
    --brown:brown;
}
::selection {
    background-color: var(--selection);
}
.b{font-weight: bold;}
.i{font-style: italic;}
.em{
    font-style: italic;
    font-weight: bold;
    font-size: 0.75em;
}
html {
    padding: 0;
    font-size: var(--fontsize-main);
    background: var(--ref-img);
    font-family: var(--main-font);
}
.text_content:empty::before{
    content: 'Take down a comment to the verse';
    font-size: large;
    font-style: italic;
}
body>svg {
    width: 100% !important;
}
svg{
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}
body {
    position: relative;
    margin: 0;
    overflow-y: hidden;
    /* don't add color to the body, it will hide the svg */
}
body * {
    box-sizing: border-box;
}
sup{
    font-size: 0.6em;
}
li li{
    list-style-type: lower-alpha;
}
li li li{
    list-style-type:lower-roman;
}
.verse {z-index: 0;}
#pagemaster {
    position: fixed;
    top:0;
    left: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    row-gap: 0;
}
#ppp code, #context_menu code {
    font-size: var(--fontsize-ref);
}
.chptheading {
    background-color: var(--chpt);
    border-bottom: 0.5px solid var(--grey);
    font-size:  var(--fontsize-main);
}
#ppp .verse:not(code) {
    font-size: var(--fontsize-scripture);
}
#ppp>span {
    display: block;
}
#refnav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    height: inherit;
}
.rtl {
    direction: rtl
}
code{position: relative; padding-top: 5px;}
#show_crossref_comments{position: absolute;bottom:var(--fontsize-ref);display: flex;}
#show_crossref_comments button{font-size: var(--fontsize-ref);font-weight: bold;padding: 2px 5px;border-width: 0.5px;}
#show_crossref_comments button:not(:first-child){
    margin-left: 2px;
}
.showing_crossref #verse_crossref_button,
.showing_versenote #verse_notes_button{
    background: var(--greenish);
    font-style: italic;
}
.crossrefs, .verse_note{
    box-shadow: 0 2px 2px 0var(--scroll-track-bg-color);
}
.crossrefs{
    padding: 5px 5px 0 5px;
    background: var( --white);
    overflow: hidden;
    font-size: var(--fontsize-main);
    transition: max-height .2s ease-in-out;
    min-height: 10px;
    max-height: 500px;
    margin-bottom:5px;
    line-height: auto;
    opacity: 1;
}
#verse_note{display: none; position: relative;}
.verse_note {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.15s ease-in-out;
    padding: 5px;
    overflow: hidden;
    min-height: 10px;
    max-height: 80vh;
    margin-bottom:5px;
    line-height: auto;
    opacity: 1;
    background-color: var(--whitesmoke);
    font-size: 1.2em;
    box-shadow: 0 4.5px 10px 3px var(--shadow-color);
    z-index: 1;
}
.verse_note #context_menu {
    background: var(--versenote-contextmenu);
}
.verse_note #context_menu,
.verse_note #context_menu .cmtitlebar~span{
    font-size: inherit!important;
}
.text_content{
    position: relative;
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
    border:1px solid var(--grey)!important;
    min-height:50px;
    max-height:80vh;
    overflow: auto;
    resize: vertical;
    
    /* margin: 0.25em 0.25em;
    padding: 0.25em 0.25em; */
}
.text_content span[ref],
.text_content span[strnum]:not(#context_menu span[strnum]){
    font-weight: bold;
    border-bottom: var(--black) 1px solid;
    color: var(--black);
    cursor: pointer;
}
.text_content #context_menu{
    background: var(--ref-img);
    /* color: var(--white); */
}
.text_content span[ref]:hover{
    color: var(--grey);
    border-radius: 5px;
}
.save_edit_btns_holder{
    display:flex;
    align-content: space-between;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}
.save_edit_btns_holder button{
    font-size: large;
    font-weight: bold;
}
.note_edit_button{
    background: none;
    cursor: pointer;
}
.note_edit_button.active{
    background: var(--noteEdit-active);
}
.note_edit_button:active{
    box-shadow: 0px 0px 2px 0px var(--shadow-color);
}
.note_edit_button::before{
    content: 'Edit';
    font-style: italic;
    pointer-events: none;
}
.note_save_button::before{
    content: 'Save';
    font-style: italic;
    pointer-events: none;
}
#singleverse_compare_menu button {
    font-size: var(--fontsize-ref);
    font-weight: bold;
    min-width: 25px;
    padding: 5px;
    text-overflow: ellipsis;
}
#singleverse_compare_menu input {
    width: 5.5px;
    position: absolute;
    right: 0;
}
#refnav>.refnav {
    height: 100%;
    float: left;
}

#refnav #app_settings {
    border-right: 0.25px solid var(--grey);
    background: var(--ref-img);
    overflow: hidden;
}
#refnav #app_settings>button {
    width: auto;
    min-width: 40px;
    padding: 6px 2px;
    font-size: 22.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#refnav #app_settings * {
    display: block;
}
#refnav #app_settings img {
    margin-left: 1px;
    margin-right: 1px;
    width: var(--width-sidebuttons);
}
#refnav #app_settings > button {
    width:auto;
    min-width:36px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 22.5px;
}
#bible_nav {
    font-size: var(--fontsize-scripture-nav)!important;
}
.refnav .bible_nav {
    height: 99.5%;
    float: left;
    background-color: var(--nav-bg-color);
    overflow-y: scroll;
    border-bottom: 2px solid;
}
#refnav .bible_nav * {
    cursor: pointer;
}
#refnav .bible_nav *:hover {
    background-color: var(--ref-hlt);
}
#refnav .bible_nav *:active {
    background: var(--ref-img);
}
#togglenavbtn {
    min-width: 40.5px;
    height: 100%;
}
#forreference,#forwordsearch,#titlebar_show_searchsettings{
    min-width: 53px;
}
.ref_hlt {
    font-weight: bold;
    font-style: italic;
    background-color: var(--ref-hlt);
    background: var(--ref-img);
    border-top: 0.25px solid var(--vhlt-border);
    border-bottom: 0.25px solid var(--vhlt-border);
}
.tmp_hlt {
    background-color: var(--ref-hlt);
}
#bible_chapters>option {
    display: none;
}
.show_chapter {
    display: block !important;
}
#bible_verses {
    display: none;
}
#bible_verses>option {
    width: 20px;
}
button {
    font-size: var(--fontsize-main);
    /* font-weight: bolder!important;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    cursor: pointer;
    border: var(--buttons-border);
    background-color: var(--buttons);
}
.buttons {
    background: var(--ref-img);
    border-bottom: 2px solid #70707072;
    display: flex;
    width: auto;
}
#context_menu {
    position: absolute;
    background: var(--whitesmoke);
    /* border: 1px solid var(--grey); */
    min-width: 50px;
    max-width: 300px;
    max-height: 400px;
    overflow-y: scroll;
    padding: 5px;
    -webkit-box-shadow: 3px 3px 3.5px 0px var(--shadow-color2), 0 5px 5px 2px var(--shadow-color3), inset 0px 0.5px 0px 0px var(--grey);
    -moz-box-shadow: 3px 3px 3.5px 0px var(--shadow-color2), 0 5px 5px 2px var(--shadow-color3), inset 0px 0.5px 0px 0px var(--grey);
    box-shadow: 3px 3px 3.5px 0px var(--shadow-color2), 0 5px 5px 2px var(--shadow-color3), inset 0px 0.5px 0px 0px var(--grey);
    z-index: 10;
    font-size: var(--fontsize-strongstooltip);
    overflow-x:hidden;
    resize: both;
}
#context_menu:hover {
    -webkit-box-shadow: 1px 1px 3px 0px var(--shadow-ctxtmenu-hover);
    -moz-box-shadow: 1px 1px 3px 0px var(--shadow-ctxtmenu-hover);
    box-shadow: 1px 1px 3px 0px var(--shadow-ctxtmenu-hover);
}
#context_menu:not([strnum]){
    -webkit-box-shadow: 3px 3px 3.5px 0px var(--shadow-color2), 0 5px 5px 2px var(--shadow-color3), inset 0px 23px 0px 0px var(--grey);
    -moz-box-shadow: 3px 3px 3.5px 0px var(--shadow-color2), 0 5px 5px 2px var(--shadow-color3), inset 0px 23px 0px 0px var(--grey);
    box-shadow: 3px 3px 3.5px 0px var(--shadow-color2), 0 5px 5px 2px var(--shadow-color3), inset 0px 23px 0px 0px var(--grey);
}
#context_menu>hr+.strngsdefinition>hr:first-child{display: none;}
#context_menu h2 {font-size:x-large;}
#context_menu i {font-size:small;}
#context_menu .strngsdefinition div {display: block;}
.vmultiple code:hover, #searchPreviewFixed .verse code:hover, .crossrefs>span:hover, #context_menu code:hover {text-decoration: underline;color: var(--blue);cursor: pointer;}
#context_menu div{z-index: 2;}
#context_menu .cmtitlebar{
    position: sticky;
    top: 0;
    right: inherit;
    background: var(--ref-img);
    font-size: small;
    font-weight: bold;
    width: 100%;    
    /* box-shadow: 21px -10px 0px 11px var(--scroll-track-bg-color),
    -13px -6px 0px 7px var(--scroll-track-bg-color); */
}
#context_menu .cmtitlebar::before{
    position: absolute;
    content: '';
    left: -9px;
    top: -5px;
    background: var(--ref-img),linear-gradient(to top, var(--shadow-color3), 5%, transparent);
    width: 150%;
    height: 23.5px;
    z-index: -1;
}
#context_menu .cmtitlebar::after{
    position: absolute;
    content: '';
    left: -10px;
    bottom: -3px;
    border-top: 2px solid var(--scroll-track-bg-color);
    background: var(--ref-img);
    width: 110%;
    height: 0px;
    z-index: -1;
}
#context_menu .cmtitlebar~span{
    font-size:var(--fontsize-scripture);
}
button:disabled {
    cursor: default;
}
button:not(:disabled):hover {
    background-color: var(--chpt) !important;
}
.active_button,#searchsettings.active_button {
    background-color: var(--chpt) !important;
}
.red, span.red span{
    color: var(--redwords)!important;
}.strongsnum {
    color: var(--strgs-num);
}
[strnum]:empty {
    display: none !important;
}
#main {
    max-width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow-y: scroll;
    display: flex;
    position: relative;
}
#main>*>* {
    padding-left: 5px;
}
#search_section {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: var(--royalblue);
}
#ppp>span.verse:last-child {
    padding-bottom: 20px;
}
[strnum] {
    cursor: pointer;
}
span.verse:hover:not(.vhlt),
span.vmultiple:hover {
    transition: background 0.05s linear;
}
span.verse:hover:not(.vhlt){
    background-color: var(--verse-hover);
    cursor: pointer;
}span.vmultiple:hover .verse{
    background-color: var(--vmultiple-hover);
    background-color: var(--verse-hover);
    transition: box-shadow 0.05s linear;
    box-shadow: 1px 5px 5px -2px var(--shadow-color),
    3px -2px 2.5px -1px var(--shadow-color)!important;
    z-index: 2;
}
span[class^=v_]:hover {
    background-color: var(--span-hover)!important;
    background-color: var(--vhlt)!important;
    box-shadow: 1px 5px 5px -2px var(--shadow-color),
    3px -2px 2.5px -1px var(--shadow-color),
    -10px -2px 0px -0px var(--shadow-color)!important;
    z-index:5;
}
span.translated:hover {
    border-bottom: 1px solid var(--span-trans-hover);
    color: var(--brown);
}
sup {
    font-weight: bold;
}
.translated[trans] {
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.search_options {
    display: none;
    font-size: small;
    font-style: italic;
    color: var(--whitesmoke);
}
.eng2grk {
    text-indent: -9999px;
}
.eng2grk>span {
    display: inline;
    font-weight: bold;
}
#fontchange {
    width: 100%;
}
#eng2grk_sup_table{
    min-width:100%;
    border-collapse:collapse;
    border-spacing: 0;
}
#eng2grk_sup_table td {
    min-width:90px;
    text-align: right;
}
#eng2grk_sup_table button {
    width:100%;
    min-height:55px;
    text-transform: lowercase;
    font-weight:bold;
}
.strnum:after {
    content: attr(data-lemma);
    font-style: italic;
}
#searchresultwindow {
    position: absolute;
    top: 12px;
    right: 5px;
    max-height: 70%;
    width: 450px;
    background: var(--white);
    overflow: scroll;
    z-index: 99;
}
.relative {
    position: relative;
    height: 100%;
}
#searchPreview>* {
    display: block;
    padding: 0 5px;
}
#searchPreview [ref]:hover {
    font-weight: bolder;
    border-bottom: 1px dashed var(--blue);
    border: 2px solid var(--grey);
}#searchrelative {
    display: flex;
}
#searchclose {
    padding: 0 2px;
    font-size: 10px;
    font-weight: bold;
    border-left: 0.5px solid var(--black);
}
#searchclose:active,
#searchminimize:active {
    font-style: italic;
}
#searchclose:hover {
    background-color: var(--lightpink);
}
#searchminimize:hover {
    background-color: var(--greenyellow);
}
#searchminimize {    padding: 0 2px;
    font-size: 10px;
    font-weight: bold;
    border-left: 0.5px solid var(--black);
}
#refnav {
    height: auto;
    overflow-y: hidden;
    font-size: var(--fontsize-main);
}
#refnav input {
    height: 8px;
    width: 8px;
}
#searchparameters {
    min-height: auto;
    border-bottom: 1px solid var(--scroll-track-bg-color);
    border-top: 0;
    background-color: var(--ref-hlt);
    font-size: var(--fontsize-main);
}
.search_param_btns{
    width: 100%;
    text-align: left;
}
#searchparameters div:first-of-type+div,
#bibleapp_cache div:first-of-type,
#bibleapp_cache .settingssectionheadings {
    border-bottom: 1px solid var(--scroll-track-bg-color);
    border-top: 1px solid var(--scroll-track-bg-color);
    margin: 0;
    box-shadow: 0 0.5px 0 var(--shadow-color);
    background-color: var(--whitesmoke);
    background-image: var(--ref-img);
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
.bible_versions_heading{
    box-shadow: 0 0.5px 0 var(--shadow-color);
    background-color: var(--whitesmoke);
    background-image: var(--ref-img);
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
#bibleapp_cache *:not(.settingssectionheadings) {
    font-size: var(--fontsize-main);
}
.bible_nav {
    float: left;
    overflow-y: scroll;
    height: 100%;
}

#bible_nav,
#bible_versions,
#searchPreviewWindowFixed,
#strongsdefinitionwindow,
#bibleapp_cache {
    max-width: 300px;
    height: 100%;
    border-right: 2px solid var(--grey);
    font-size: var(--fontsize-main);
}
#bible_versions,
#searchPreviewWindowFixed,
#strongsdefinitionwindow,
#bibleapp_cache {
    overflow-y: auto;
    background-color: var(--verse-higlight);
}
#bible_versions,
#bibleapp_cache {
    overflow-y: scroll;
}
#bibleapp_cache label,#bibleapp_cache input {
    display: inline!important;
}
#cache_table {
    width: 100%;
    display: table!important;
    border-collapse:collapse;
}
#cache_table td{min-width:40px;}
#cache_table td button{min-width: 100%;font-weight: bolder;}
#hidestrongshighlight {display: none;}
#strongsdefinitionwindow {
    min-width: 200px;
    font-size: var(--fontsize-scripture);
}
#strongsdefinitionwindow::after {
    content: '';
    background-color: #ccc;
    position: absolute;
    right: 0;
}
#resizerdiv {
    background-color: var(--grey);
    /* background-color: #70707072; */
    float: right;
    width: 1px!important;
    height: 100%;
    cursor: ew-resize;
}
#resizerdiv:hover,#resizerdiv:active {
    background-color: var(--greenyellow);
}
#strongsdefinitionwindow>*:not(hr),
#strongsdefinitionwindow>*:not(hr),
#bible_versions>*:not(hr),
#bibleapp_cache>*:not(hr) {
    padding-right: 3px;
    padding-left: 3px;
}
#bible_versions {
    font-size: var(--fontsize-main);
}
.strngsdefinition h1,
.strngsdefinition h2,
.strngsdefinition h3,
.strngsdefinition h4 {
    display: inline;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.strngsdefinition {
    margin-bottom: 10px;
}
#searchPreviewWindowFixed.slidein{
    display: flex!important;;
}
#searchPreviewWindowFixed {
    flex-direction: column;
    overflow-y: hidden;
    font-size: var(--fontsize-scripture);
}
#searchparameters div:last-child {
    display: block;
    background-color: var(--verse-higlight);
    background-image: var(--ref-img);
    border-top: 1.5px solid var(--scroll-track-bg-color);
    box-shadow: 0 2px 0 var(--grey);
}
#searchparameters #where2display {
    display: block;
    border-top: 1.1px solid var(--scroll-track-bg-color);
}
#hidesearchparameters {
    padding: 0;
    margin-top: -2px;
    float: right;
    border: 1px solid var(--scroll-track-bg-color);
    background-color: var(--white);
    cursor: pointer;
    height: 15px;
}
.hidesearchparameters>*:not(div) {
    display: none !important;
}
#searchPreviewFixed {
    /* display: table-row; */
    /* height: 92%; */
    /* float: left; */
    /* width: 100%; */
    overflow-y: auto;
}
#searchPreviewFixed>* {
    display: block;
    padding: 0 5px;
}
#searchPreviewFixed>.chptheading,
#searchPreviewFixed code {
    cursor: pointer;
    font-size: var(--fontsize-main);
    font-weight: bolder;
    margin: 0;
}
#searchPreviewFixed .chptheading+.verse {
    margin-top: 5px;
}



::-webkit-scrollbar {
    width: 7.5px;
}

::-webkit-scrollbar-track {
    background: var(--scroll-track-bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb-bgcolor);
    border-top: 2px solid var(--scroll-thumb-border-color);
    border-bottom: 2px solid var(--scroll-thumb-border-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover-bg-color);
    border-top: 2px solid var(--scroll-thumb-hover-border);
    border-bottom: 2px solid var(--scroll-thumb-hover-border);
}

.section_headings {
    display: none;
}
.vmultiple {
    display: flex !important;
    flex-wrap: wrap;
}
.vmultiple>.section_headings,.vmultiple>h1,.vmultiple>h2,.vmultiple>h3,.vmultiple>h4 {
    flex: 1 0 100%;
}
.vmultiple>span {
    padding: 5px 5px;
    border-bottom: 1px solid var(--grey-blue);
    flex-basis: 50px;
    flex-grow: 1;
}
span.vmultiple:hover span.vhlt {
    background: var(--yellow);
}
span.vmultiple.noted code {
    box-sizing:border-box;
    font-weight:bolder;
    font-style:italic;
    border-bottom: 3px solid var(--orangered);
    text-decoration:none!important;
}
span.vmultiple.noted code #verse_notes_button {
    background: var(--white);
    color: var(--green);
}

.slideup {
    display: none;
    min-height: 0;
    max-height: 0;
    padding: 0;
    margin-bottom:0;
    line-height: 0;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.slidein {
    display: block;
    margin-left: 0;
    margin-top: 0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.slideout {
    display: none;
    margin-left: -500px;
    margin-top: 0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.displaynone {
    display: none !important;
}
.displayshow {
    display: block !important;
}
.vhlt {
    background-color: var(--vhlt2)!important;
    border-top: 0.25px solid var(--vhlt-border);
    border-left: 0.25px solid var(--vhlt-border);
    border-right: 0.25px solid var(--vhlt-border);
    border-radius: 2px;
    z-index: 1;
    -webkit-box-shadow: 1px 1px 2px 0px var(--shadow-color2);
    -moz-box-shadow: 1px 1px 2px 0px var(--shadow-color2);
    box-shadow: 1px 1px 2px 0px var(--shadow-color2);
}
.vhlt:hover {
    background-color: var(--vhlt-hover);
    -webkit-box-shadow: 1px 1px 1px 0px var(--shadow-color2);
    -moz-box-shadow: 1px 1px 1px 0px var(--shadow-color2);
    box-shadow: 1px 1px 1px 0px var(--shadow-color2);
}
.vhlt+.vhlt {
    border-top: 0;
    padding-bottom: 3px;
}
[class^=v_].vhlt{
    background-color: var(--vhlt2);
}
#mobilebuttons {
    display: none;
}
/* TOP-HORIZONTAL BAR */
#top_horizontal_bar{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border-bottom: 2px solid var(--grey);
    display: flex;
    flex-wrap: wrap;
}
#top_horizontal_bar_buttons{
    background: var(--ref-img);
    border-bottom: 2px solid #70707072;
    display: flex;
    /* flex-wrap: wrap; */
    /* width: calc(100vw - 5.5px); */
    /* overflow-y: hidden; */
}
/* #ref_search_versions_holder > div input:not([type=checkbox]) {
    width: 100px;
} */
#top_horizontal_bar_buttons>button {
    font-size:var(--width-mainbutton);
    padding: 0;
}    

/* REF & SEARCH */
#ref_search_versions_holder {
    display: flex;
    flex-wrap: wrap;
}
/* #refdiv {background-color: yellow;}
#searchdiv {background-color: orange;}
#bibleversions_btns {background-color: greenyellow;} */
#refdiv,#searchdiv,#bibleversions_btns {
    display: flex;
    /* flex: 1 0 50%; */
    /* display: inline-flex; */
}
#refdiv *, #searchdiv button {
    font-size: var(--fontsize-title);
}
#refdiv input,
#searchdiv input{
    width: 100%;
    font-size: 30px;
    flex-grow: 1;
}

#searchdiv button,
#refdiv button {
    font-size:var(--width-mainbutton);
    padding: 0;
}

/* REFERENCE */
#reference {
    /* width: -webkit-fill-available; */
    vertical-align: bottom;
    background-color: var(--buttons);
    border: var(--buttons-border);
    font-weight:bolder;
    font-size: 40px;
    flex-grow: 1;
}   

/* SEARCH */
#wordsearch {
    background-color: var(--buttons);
    border: var(--buttons-border);
}
#wordsearch::-webkit-input-placeholder,
#reference::-webkit-input-placeholder,#wordsearch:-moz-placeholder,
#reference:-moz-placeholder,#wordsearch::-moz-placeholder,
#reference::-moz-placeholder,#wordsearch:-ms-input-placeholder,
#reference:-ms-input-placeholder {
    font-style: italic;
}

/* BIBLE VERSIONS BUTTONS */
#bibleversions_btns {
    display: contents;
    /* display: inline-block; */
    /* flex-wrap: wrap; */
}
#bibleversions_btns input {
    width: 6px;
    pointer-events: none;
}
#bibleversions_btns button {
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* SEARCH PARAMETERS */
#titlebarsearchparameters {
    font-size: 12px;
}
#titlebarsearchparameters > *{
    font-size: 1.75em;
}