body {
    position: relative;
    display: flex;
    font-size: 1.5em;
    background-color: whitesmoke;
    height: 100vh;
}
body * {
    box-sizing: border-box;
}
#col1 {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    /* min-width: fit-content; */
    /* max-width: 200px; */
    height: 100%;
    border-right: 2px solid black;
}
#col2 {
    height: 100%;
    /* min-width: calc(100vw - 200px)!important; */
    width: 100%;
    position: relative;
    overflow-y: auto;
    margin-bottom: 100px;
}
#available_notes img{
    width: 20px;
}
#bibleapp_available_notes {
    min-width: 0px!important;
    max-width: 200px!important;
}
#bibleapp_available_notes > em {
    display: none!important;
}
#bibleapp_available_notes summary {
    padding-left: 5px;
}
#bibleapp_available_notes summary::marker {
    font-size: 0.7em;
}
#bibleapp_available_notes span {
    display: block!important;
    margin-top: 2px;
}
#bibleapp_available_notes span:hover {
    border-bottom: 0;
}
details {
    width: 100%;
}
details summary {
    margin-bottom: 0!important;
}
#win2_bcv_ref, .win2_bcv_ref {
    font-size: 1.5em;
    display: inline;
}
span[ref], .strnum {
    font-weight: bold;
    border-radius: 5px;
    border-bottom: 1px solid maroon !important;
    cursor: pointer;
}
span[ref]:hover, .strnum:hover {
    box-shadow: 0 -1.07em 0px 0px rgba(255, 223, 117, 0.663) inset, 0 5px 5px -2px var(--shadow-orange)!important;
    color: black!important;
    transition: box-shadow .1s ease-in;
}
#win2_noteholder, .win2_noteholder{
    position: relative;
}
#context_menu {
    font-size: 1em;
}
summary, #context_menu summary {
    background: rgb(250, 255, 200);
    background: #f6f6e3;
}
summary h1, summary .openCloseIconHolder, summary div {
    margin-top: 0!important;
    margin-bottom: 0!important;
    padding: 0;
}
summary:has(.openCloseIconHolder) {
    padding: 0;
}
#context_menu .cmtitlebar::before {
    height: 2em;
    width: 105%;
}
#context_menu code {
    font-size: 0.85em;
}
#context_menu[strnum]>.cmtitlebar {
    display: none;
}

/* HIDE SHOW BUTTONS */
.button-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 5px;
    right: 5px;
    scale: 0.9;
    z-index: 99;
}
.button-group {
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 0;
}
.button-group.visible {
    height: 100px;
    top: 100%;
    transition: top 0.5s ease-in-out;
}

#hide_col1{
    width: 40px;
    height: 40px;
    background: transparent;
    border: transparent;
    padding: 1px!important;
    z-index: 2;
}
#hide_col1:hover{
    border-radius: 100px;
    background: rgb(179, 255, 66)!important;
}
blockquote:first-child{
    font-family: 'Lucida Sans';
    color: maroon;
    font-style:italic;
}
/* SIDE-BAR TOGGLE BUTTON */
#sidebar_togglebtn {
    height: 4rem;
    margin-top: 10px;
    border-radius: 0.05em;
    box-shadow: 0 0 2px 0.05em darkgrey;
    /* background-color: var(--buttons)!important;
    background-color: rgba(255, 255, 153, 0.49)!important; */
    background-color: rgba(253, 255, 127, 0.145)!important;
    transition: all 0.2s ease;
    z-index: 99;
    scale: 1;
}
/* #sidebar_togglebtn {
    position:absolute;
    top: 40px;
    left:100%;
    width: 3rem;
    height: 4rem;
    background: var(--ref-img);
    border-radius: 0 0 0.2em 0.2em;
    box-shadow: 0 0 2.75px 0.05em darkgrey;
    opacity: 0.3;
    transition: all 0.2s ease;
    z-index: 99;
    scale: 0.75;
} */

#sidebar_togglebtn:hover {
    opacity: 1;
    transition: all 0.2s ease;
}
#sidebar_togglebtn span {
    top: 1.5rem;
    position: absolute;
    width: 0.3rem;
    height: 2.5rem;
    background-color: var(--black);
    display: inline-block;
    transition: all 0.2s ease;
}
#sidebar_togglebtn.active_button span:first-of-type {
    transform: rotate(-45deg);
}
#sidebar_togglebtn span:first-of-type {
    bottom: 0;
    transform: rotate(45deg);
}
#sidebar_togglebtn.active_button span:last-of-type {
    transform: rotate(45deg);
}
#sidebar_togglebtn span:last-of-type {
    top: 0;
    transform: rotate(-45deg);
}
/* DARKMODE */
button, #darkmode_btn{
    border-radius: 0.05em;
    background-color: rgb(255, 255, 153);
    background-color: rgb(246, 246, 227);
    box-shadow: 0 0 2px 0.05em darkgrey;
    font-size: x-large;
}
body.darkmode {
    background: rgb(19, 24, 24);
    color: white;
}
body.darkmode summary{
    background: rgb(0, 0, 0)!important;
    color: white!important;
    box-shadow: 0px 2px whitesmoke!important;
}
body.darkmode details {
    background: rgb(8, 14, 14);
    color: white;
}
body.darkmode blockquote {
    background: rgb(19, 24, 24);
    color: rgb(222, 0, 222);
}
body.darkmode span[ref], body.darkmode .strnum {
    border-bottom: 1px solid rgb(222, 0, 222) !important;
}
body.darkmode #context_menu {
    background: rgb(19, 24, 24);
    border: 0.5px solid grey!important;
    box-shadow: 2px 2px 2px 5px whitesmoke!important;
}
body.darkmode .cmtitlebar,
body.darkmode .cmtitlebar.cmtitlebar::before  {
    background: black!important;
    box-shadow: 0px 2px whitesmoke!important;
}
body.darkmode #darkmode_btn, body.darkmode #available_notes {
    background: black!important;
    box-shadow: 0 0 2px 1px white;
    color: whitesmoke;
}
body.darkmode #sidebar_togglebtn {
    background: black!important;
    box-shadow: 0 0 2px 1px white;
}
body.darkmode #sidebar_togglebtn span {
    background-color: whitesmoke;
}
@media screen and (max-device-width: 540px) {
    #col1 {
        font-size: 1.2em;
    }
    #bibleapp_available_notes {
        min-width: 0px!important;
        max-width: 80vw!important;
    }
    details b {
        display: block;
        font-size: 1.5em!important;
        margin-top: -0.5em;
        border-bottom: 1px solid grey;
    }
}