body {
    position: relative;
    display: flex;
    font-size: 1.5em;
    background-color: whitesmoke;
    height: 100vh;
}
body * {
    box-sizing: border-box;
}
#col1 {
    font-size: 0.8em;
    /* min-width: fit-content; */
    /* max-width: 200px; */
    height: 100%;
    border-right: 2px solid black;
    overflow-y: scroll;
}
#col2 {
    height: 100%;
    /* min-width: calc(100vw - 200px)!important; */
    width: 100%;
    position: relative;
    overflow-y: auto;
}
#bibleapp_available_notes {
    min-width: 0px!important;
    max-width: 200px!important;
}
#bibleapp_available_notes > em {
    display: none!important;
}
#bibleapp_available_notes summary {
    padding-left: 5px;
}
#bibleapp_available_notes summary::marker {
    font-size: 0.7em;
}
#bibleapp_available_notes span {
    display: block!important;
    margin-top: 2px;
}
#bibleapp_available_notes span:hover {
    border-bottom: 0;
}
details summary {
    margin-bottom: 0!important;
}
#win2_bcv_ref, .win2_bcv_ref {
    font-size: 1.5em;
    display: inline;
}
span[ref], .strnum {
    font-weight: bold;
    border-radius: 5px;
    border-bottom: 1px solid maroon !important;
    cursor: pointer;
}
span[ref]:hover, .strnum:hover {
    box-shadow: 0 -1.07em 0px 0px rgba(255, 223, 117, 0.663) inset, 0 5px 5px -2px var(--shadow-orange)!important;
    color: black!important;
    transition: box-shadow .1s ease-in;
}
#win2_noteholder, .win2_noteholder{
    position: relative;
}
#context_menu {
    font-size: 1em;
}
summary, #context_menu summary, #context_menu .cmtitlebar, #context_menu .cmtitlebar::before {
    background: rgb(250, 255, 200);
}
summary h1, summary .openCloseIconHolder, summary div {
    margin-top: 0!important;
    margin-bottom: 0!important;
    padding: 0;
}
summary:has(.openCloseIconHolder) {
    padding: 0;
}
#context_menu .cmtitlebar::before {
    height: 2em;
    width: 105%;
}
#context_menu code {
    font-size: 0.85em;
}

/* HIDE SHOW BUTTONS */
.button-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 50px;
    z-index: 99;
}   
.button-group {
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 0;
}
.button-group.visible {
    height: 100px;
    top: 100%;
    transition: top 0.5s ease-in-out;
}

#hide_col1{
    width: 40px;
    height: 40px;
    background: transparent;
    border: transparent;
    padding: 1px!important;
    z-index: 2;
}
#hide_col1:hover{
    border-radius: 100px;
    background: rgb(179, 255, 66)!important;
}